<box class="background-color-fff border-radius-10px" data-tap="controller.wysiwyg.command(event.target)">
    <header>
        <flex class="background-color-ccc border-top-left-radius-10px border-top-right-radius-10px display-flex justify-content-space-between position-relative" onmousedown="event.target.tagName.toLowerCase() === 'input' ? null : event.preventDefault()" onmouseup="event.target.tagName.toLowerCase() === 'input' ? null : event.preventDefault()">
            <row>
                <ico data-tap="controller.wysiwyg.more(event.target, 'text')">
                    <img class="width-18px" src="raw/asset/svg/more-text.svg">
                </ico>
                <ico data-tap="controller.wysiwyg.more(event.target, 'paragraph')">
                    <img class="width-18px" src="raw/asset/svg/more-paragraph.svg">
                </ico>
                <ico data-tap="controller.wysiwyg.more(event.target, 'rich')">
                    <img class="width-18px" src="raw/asset/svg/more-rich.svg">
                </ico>
            </row>
            <row>
                <ico data-command="undo">
                    <n class="gg-undo"></n>
                </ico>
                <ico data-command="redo">
                    <n class="gg-redo"></n>
                </ico>
                <ico data-tap="controller.wysiwyg.more('misc')">
                    <n class="gg-more-vertical-alt"></n>
                </ico>
            </row>
        </flex>
        <flex class="background-color-f5 flex-wrap-wrap" onmousedown="event.target.tagName.toLowerCase() === 'input' ? null : event.preventDefault()" onmouseup="event.target.tagName.toLowerCase() === 'input' ? null : event.preventDefault()">
            <row class="flex-wrap-wrap" data-display="none" data-more='text'>
                <ico data-command="bold">
                    <!--<img class="width-30px" src="raw/asset/svg/more-text-bold.svg">-->
                    <n class="gg-format-bold"></n>
                </ico>
                <ico data-command="italic">
                    <!--<img class="width-30px" src="raw/asset/svg/more-text-italic.svg">-->
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.4903 5.45801H17.4903L16.7788 7.32716H14.7788L11.2212 16.6729H13.2212L12.5097 18.5421H6.5097L7.22122 16.6729H9.22122L12.7788 7.32716H10.7788L11.4903 5.45801Z" fill="currentColor"/>
                    </svg>
                </ico>
                <ico data-command="underline">
                    <!--<img class="width-30px" src="raw/asset/svg/more-text-underline.svg">-->
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 10V4H8V10C8 12.2091 9.79086 14 12 14C14.2091 14 16 12.2091 16 10V4H18V10C18 13.3137 15.3137 16 12 16C8.68629 16 6 13.3137 6 10Z" fill="currentColor"/>
                        <path d="M7 18C6.44772 18 6 18.4477 6 19C6 19.5523 6.44771 20 7 20H17C17.5523 20 18 19.5523 18 19C18 18.4477 17.5523 18 17 18H7Z" fill="currentColor"/>
                    </svg>
                </ico>
                <ico data-command="strikethrough">
                    <!--<img class="width-30px" src="raw/asset/svg/more-text-strikethrough.svg">-->
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 7H17V5H7V7H11V10H13V7Z" fill="currentColor"/>
                        <path d="M11 19V14H13V19H11Z" fill="currentColor"/>
                        <path d="M5 13H19V11H5V13Z" fill="currentColor"/>
                    </svg>
                </ico>
                <ico data-command="subscript">
                    <img class="width-30px" src="raw/asset/svg/more-text-subscript.svg">
                </ico>
                <ico data-command="superscript">
                    <img class="width-30px" src="raw/asset/svg/more-text-superscript.svg">
                </ico>
                <field class="position-relative">
                    <row class="align-items-center justify-content-center" data-dropdown data-ignore>
                        <ico data-command="fontfamily">
                            <img class="width-30px" src="raw/asset/svg/more-text-fontfamily.svg">
                            <n class="--ggs-50pct gg-chevron-down" data-width="10px"></n>
                        </ico>
                    </row>
                    <column class="-hd-width-100pct- background-color-fff border-radius-10px box-shadow-0-1px-6px-0 color-000 left-0 line-height-30px margin-auto padding-y-10px position-absolute white-space-nowrap width-auto" data-command="fontName" data-display="none" data-hidden="tap" data-top="calc(100% - 5px)">
                        <text class="-hover-background-color-eb padding-x-20px" data-font-family="Arial" data-value="Arial">Arial</text>
                        <text class="-hover-background-color-eb padding-x-20px" data-font-family="Brush Script MT" data-value="Brush Script MT">Brush Script MT</text>
                        <text class="-hover-background-color-eb padding-x-20px" data-font-family="Courier New" data-value="Courier New">Courier New</text>
                        <text class="-hover-background-color-eb padding-x-20px" data-font-family="Garamond" data-value="Garamond">Garamond</text>
                        <text class="-hover-background-color-eb padding-x-20px" data-font-family="Georgia" data-value="Georgia">Georgia</text>
                        <text class="-hover-background-color-eb padding-x-20px" data-font-family="Tahoma" data-value="Tahoma">Tahoma</text>
                        <text class="-hover-background-color-eb padding-x-20px" data-font-family="Times New Roman" data-value="Times New Roman">Times New Roman</text>
                        <text class="-hover-background-color-eb padding-x-20px" data-font-family="Trebuchet MS" data-value="Trebuchet MS">Trebuchet MS</text>
                        <text class="-hover-background-color-eb padding-x-20px" data-font-family="Verdana" data-value="Verdana">Verdana</text>
                    </column>
                </field>
                <field class="position-relative">
                    <row class="align-items-center justify-content-center" data-dropdown data-ignore>
                        <ico data-command="fontfamily">
                            <img class="width-30px" src="raw/asset/svg/more-text-fontsize.svg">
                            <n class="--ggs-50pct gg-chevron-down" data-width="10px"></n>
                        </ico>
                    </row>
                    <column class="-hd-width-100pct- background-color-fff border-radius-10px box-shadow-0-1px-6px-0 color-000 height-275px left-0 line-height-30px margin-auto overflow-x-hidden padding-y-10px position-absolute white-space-nowrap width-auto" data-command="fontSize" data-display="none" data-hidden="tap" data-top="calc(100% - 5px)">
                        <text class="-hover-background-color-eb padding-x-20px width-30px" data-value="8">8</text>
                        <text class="-hover-background-color-eb padding-x-20px width-30px" data-value="9">9</text>
                        <text class="-hover-background-color-eb padding-x-20px width-30px" data-value="10">10</text>
                        <text class="-hover-background-color-eb padding-x-20px width-30px" data-value="12">12</text>
                        <text class="-hover-background-color-eb padding-x-20px width-30px" data-value="14">14</text>
                        <text class="-hover-background-color-eb padding-x-20px width-30px" data-value="16">16</text>
                        <text class="-hover-background-color-eb padding-x-20px width-30px" data-value="18">18</text>
                        <text class="-hover-background-color-eb padding-x-20px width-30px" data-value="24">24</text>
                        <text class="-hover-background-color-eb padding-x-20px width-30px" data-value="30">30</text>
                        <text class="-hover-background-color-eb padding-x-20px width-30px" data-value="36">36</text>
                        <text class="-hover-background-color-eb padding-x-20px width-30px" data-value="48">48</text>
                        <text class="-hover-background-color-eb padding-x-20px width-30px" data-value="60">60</text>
                        <text class="-hover-background-color-eb padding-x-20px width-30px" data-value="72">72</text>
                        <text class="-hover-background-color-eb padding-x-20px width-30px" data-value="96">96</text>
                    </column>
                </field>
                <field class="position-relative">
                    <row class="align-items-center justify-content-center" data-dropdown data-ignore>
                        <ico data-command="deselect">
                            <img class="width-30px" src="raw/asset/svg/more-text-textcolor.svg">
                            <!--<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9479 3.20946C12.7721 2.83236 12.391 2.61645 11.9997 2.63269C11.6086 2.61666 11.2278 2.83255 11.0521 3.20948L5.1354 15.8978C4.90199 16.3983 5.11855 16.9933 5.61909 17.2267C6.11963 17.4601 6.71461 17.2436 6.94801 16.743L8.39869 13.632H15.6013L17.052 16.743C17.2854 17.2435 17.8804 17.4601 18.3809 17.2267C18.8814 16.9933 19.098 16.3983 18.8646 15.8978L12.9479 3.20946ZM14.6687 11.632L12 5.909L9.33131 11.632H14.6687Z" fill="currentColor"/>
                                                <path d="M6 19.3682C5.44772 19.3682 5 19.816 5 20.3682C5 20.9205 5.44772 21.3682 6 21.3682H18C18.5523 21.3682 19 20.9205 19 20.3682C19 19.816 18.5523 19.3682 18 19.3682H6Z" fill="currentColor"/>
                                            </svg>-->
                        </ico>
                    </row>
                    <row class="background-color-fff border-radius-10px box-shadow-0-1px-6px-0 flex-wrap-wrap left-0 margin-auto padding-20px position-absolute width-224px white-space-nowrap" data-command="foreColor" data-display="none" data-hidden="tap" data-top="calc(100% - 5px)">
                        <ico class="display-inline-flex" data-background-color="#61BD6D" data-height="32px" data-width="32px" data-value="#61BD6D"></ico>
                        <ico class="display-inline-flex" data-background-color="#1ABC9C" data-height="32px" data-width="32px" data-value="#1ABC9C"></ico>
                        <ico class="display-inline-flex" data-background-color="#54ACD2" data-height="32px" data-width="32px" data-value="#54ACD2"></ico>
                        <ico class="display-inline-flex" data-background-color="#2C82C9" data-height="32px" data-width="32px" data-value="#2C82C9"></ico>
                        <ico class="display-inline-flex" data-background-color="#9365B8" data-height="32px" data-width="32px" data-value="#9365B8"></ico>
                        <ico class="display-inline-flex" data-background-color="#475577" data-height="32px" data-width="32px" data-value="#475577"></ico>
                        <ico class="display-inline-flex" data-background-color="#CCCCCC" data-height="32px" data-width="32px" data-value="#CCCCCC"></ico>
                        <ico class="display-inline-flex" data-background-color="#41A85F" data-height="32px" data-width="32px" data-value="#41A85F"></ico>
                        <ico class="display-inline-flex" data-background-color="#00A885" data-height="32px" data-width="32px" data-value="#00A885"></ico>
                        <ico class="display-inline-flex" data-background-color="#3D8EB9" data-height="32px" data-width="32px" data-value="#3D8EB9"></ico>
                        <ico class="display-inline-flex" data-background-color="#2969B0" data-height="32px" data-width="32px" data-value="#2969B0"></ico>
                        <ico class="display-inline-flex" data-background-color="#553982" data-height="32px" data-width="32px" data-value="#553982"></ico>
                        <ico class="display-inline-flex" data-background-color="#28324E" data-height="32px" data-width="32px" data-value="#28324E"></ico>
                        <ico class="display-inline-flex" data-background-color="#000000" data-height="32px" data-width="32px" data-value="#000000"></ico>
                        <ico class="display-inline-flex" data-background-color="#F7DA64" data-height="32px" data-width="32px" data-value="#F7DA64"></ico>
                        <ico class="display-inline-flex" data-background-color="#FBA026" data-height="32px" data-width="32px" data-value="#FBA026"></ico>
                        <ico class="display-inline-flex" data-background-color="#EB6B56" data-height="32px" data-width="32px" data-value="#EB6B56"></ico>
                        <ico class="display-inline-flex" data-background-color="#E25041" data-height="32px" data-width="32px" data-value="#E25041"></ico>
                        <ico class="display-inline-flex" data-background-color="#A38F84" data-height="32px" data-width="32px" data-value="#A38F84"></ico>
                        <ico class="display-inline-flex" data-background-color="#EFEFEF" data-height="32px" data-width="32px" data-value="#EFEFEF"></ico>
                        <ico class="display-inline-flex" data-background-color="#FFFFFF" data-height="32px" data-width="32px" data-value="#FFFFFF"></ico>
                        <ico class="display-inline-flex" data-background-color="#FAC51C" data-height="32px" data-width="32px" data-value="#FAC51C"></ico>
                        <ico class="display-inline-flex" data-background-color="#F37934" data-height="32px" data-width="32px" data-value="#F37934"></ico>
                        <ico class="display-inline-flex" data-background-color="#D14841" data-height="32px" data-width="32px" data-value="#D14841"></ico>
                        <ico class="display-inline-flex" data-background-color="#B8312F" data-height="32px" data-width="32px" data-value="#B8312F"></ico>
                        <ico class="display-inline-flex" data-background-color="#7C706B" data-height="32px" data-width="32px" data-value="#7C706B"></ico>
                        <ico class="display-inline-flex" data-background-color="#D1D5D8" data-height="32px" data-width="32px" data-value="#D1D5D8"></ico>
                        <ico class="display-inline-flex" data-height="30px" data-width="30px">
                            <n class="gg-trash"></n>
                        </ico>
                        <footer class="display-flex flex-direction-row margin-top-20px width-100pct" data-ignore>
                            <field class="border-1px-solid display-flex flex-1 position-relative">
                                <text class="background-color-fff font-size-13px height-20px line-height-20px margin-x-10px padding-x-10px position-absolute top-minus-10px">HEX Color</text>
                                <input class="line-height-50px padding-x-10px width-100pct" type="text">
                            </field>
                            <text class="color-005cc8 height-50px line-height-50px text-align-center width-50px" data-tap="
                                                    event.target.closest('field > row').dataset.display = 'none';
                                                    window.selected.addRange(window.range);
                                                    document.execCommand('foreColor', null, event.target.closest('text').previousElementSibling.find('input').value)
                                                                    window.range = null;
                                                                    window.selected = null;
                                            ">OK</text>
                        </footer>
                    </row>
                </field>
                <field class="position-relative">
                    <row class="align-items-center justify-content-center" data-dropdown data-ignore>
                        <ico data-command="deselect">
                            <img class="width-30px" src="raw/asset/svg/more-text-backgroundcolor.svg">
                            <!--<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.20348 2.00378C9.46407 2.00378 10.5067 3.10742 10.6786 4.54241L19.1622 13.0259L11.384 20.8041C10.2124 21.9757 8.31291 21.9757 7.14134 20.8041L2.8987 16.5615C1.72713 15.3899 1.72713 13.4904 2.8987 12.3188L5.70348 9.51404V4.96099C5.70348 3.32777 6.82277 2.00378 8.20348 2.00378ZM8.70348 4.96099V6.51404L7.70348 7.51404V4.96099C7.70348 4.63435 7.92734 4.36955 8.20348 4.36955C8.47963 4.36955 8.70348 4.63435 8.70348 4.96099ZM8.70348 10.8754V9.34247L4.31291 13.733C3.92239 14.1236 3.92239 14.7567 4.31291 15.1473L8.55555 19.3899C8.94608 19.7804 9.57924 19.7804 9.96977 19.3899L16.3337 13.0259L10.7035 7.39569V10.8754C10.7035 10.9184 10.7027 10.9612 10.7012 11.0038H8.69168C8.69941 10.9625 8.70348 10.9195 8.70348 10.8754Z" fill="currentColor"/>
                                                <path d="M16.8586 16.8749C15.687 18.0465 15.687 19.946 16.8586 21.1175C18.0302 22.2891 19.9297 22.2891 21.1013 21.1175C22.2728 19.946 22.2728 18.0465 21.1013 16.8749L18.9799 14.7536L16.8586 16.8749Z" fill="currentColor"/>
                                            </svg>-->
                        </ico>
                    </row>
                    <row class="background-color-fff border-radius-10px box-shadow-0-1px-6px-0 flex-wrap-wrap left-0 margin-auto padding-20px position-absolute width-224px white-space-nowrap" data-command="hiliteColor" data-display="none" data-hidden="tap" data-top="calc(100% - 5px)">
                        <ico class="display-inline-flex" data-background-color="#61BD6D" data-height="32px" data-width="32px" data-value="#61BD6D"></ico>
                        <ico class="display-inline-flex" data-background-color="#1ABC9C" data-height="32px" data-width="32px" data-value="#1ABC9C"></ico>
                        <ico class="display-inline-flex" data-background-color="#54ACD2" data-height="32px" data-width="32px" data-value="#54ACD2"></ico>
                        <ico class="display-inline-flex" data-background-color="#2C82C9" data-height="32px" data-width="32px" data-value="#2C82C9"></ico>
                        <ico class="display-inline-flex" data-background-color="#9365B8" data-height="32px" data-width="32px" data-value="#9365B8"></ico>
                        <ico class="display-inline-flex" data-background-color="#475577" data-height="32px" data-width="32px" data-value="#475577"></ico>
                        <ico class="display-inline-flex" data-background-color="#CCCCCC" data-height="32px" data-width="32px" data-value="#CCCCCC"></ico>
                        <ico class="display-inline-flex" data-background-color="#41A85F" data-height="32px" data-width="32px" data-value="#41A85F"></ico>
                        <ico class="display-inline-flex" data-background-color="#00A885" data-height="32px" data-width="32px" data-value="#00A885"></ico>
                        <ico class="display-inline-flex" data-background-color="#3D8EB9" data-height="32px" data-width="32px" data-value="#3D8EB9"></ico>
                        <ico class="display-inline-flex" data-background-color="#2969B0" data-height="32px" data-width="32px" data-value="#2969B0"></ico>
                        <ico class="display-inline-flex" data-background-color="#553982" data-height="32px" data-width="32px" data-value="#553982"></ico>
                        <ico class="display-inline-flex" data-background-color="#28324E" data-height="32px" data-width="32px" data-value="#28324E"></ico>
                        <ico class="display-inline-flex" data-background-color="#000000" data-height="32px" data-width="32px" data-value="#000000"></ico>
                        <ico class="display-inline-flex" data-background-color="#F7DA64" data-height="32px" data-width="32px" data-value="#F7DA64"></ico>
                        <ico class="display-inline-flex" data-background-color="#FBA026" data-height="32px" data-width="32px" data-value="#FBA026"></ico>
                        <ico class="display-inline-flex" data-background-color="#EB6B56" data-height="32px" data-width="32px" data-value="#EB6B56"></ico>
                        <ico class="display-inline-flex" data-background-color="#E25041" data-height="32px" data-width="32px" data-value="#E25041"></ico>
                        <ico class="display-inline-flex" data-background-color="#A38F84" data-height="32px" data-width="32px" data-value="#A38F84"></ico>
                        <ico class="display-inline-flex" data-background-color="#EFEFEF" data-height="32px" data-width="32px" data-value="#EFEFEF"></ico>
                        <ico class="display-inline-flex" data-background-color="#FFFFFF" data-height="32px" data-width="32px" data-value="#FFFFFF"></ico>
                        <ico class="display-inline-flex" data-background-color="#FAC51C" data-height="32px" data-width="32px" data-value="#FAC51C"></ico>
                        <ico class="display-inline-flex" data-background-color="#F37934" data-height="32px" data-width="32px" data-value="#F37934"></ico>
                        <ico class="display-inline-flex" data-background-color="#D14841" data-height="32px" data-width="32px" data-value="#D14841"></ico>
                        <ico class="display-inline-flex" data-background-color="#B8312F" data-height="32px" data-width="32px" data-value="#B8312F"></ico>
                        <ico class="display-inline-flex" data-background-color="#7C706B" data-height="32px" data-width="32px" data-value="#7C706B"></ico>
                        <ico class="display-inline-flex" data-background-color="#D1D5D8" data-height="32px" data-width="32px" data-value="#D1D5D8"></ico>
                        <ico class="display-inline-flex" data-height="30px" data-width="30px">
                            <n class="gg-trash"></n>
                        </ico>
                        <footer class="display-flex flex-direction-row margin-top-20px width-100pct" data-ignore>
                            <field class="border-1px-solid display-flex flex-1 position-relative">
                                <text class="background-color-fff font-size-13px height-20px line-height-20px margin-x-10px padding-x-10px position-absolute top-minus-10px">HEX Color</text>
                                <input class="line-height-50px padding-x-10px width-100pct" type="text">
                            </field>
                            <text class="color-005cc8 height-50px line-height-50px text-align-center width-50px" data-tap="
                                                    event.target.closest('field > row').dataset.display = 'none';
                                                    window.selected.addRange(window.range);
                                                    document.execCommand('backColor', null, event.target.closest('text').previousElementSibling.find('input').value)
                                                                    window.range = null;
                                                                    window.selected = null;
                                            ">OK</text>
                        </footer>
                    </row>
                </field>
                <field class="position-relative" data-display="none">
                    <row class="align-items-center justify-content-center" data-dropdown data-ignore>
                        <ico data-command="inlineclass">
                            <img class="width-30px" src="raw/asset/svg/more-text-inlineclass.svg">
                            <n class="--ggs-50pct gg-chevron-down" data-width="10px"></n>
                        </ico>
                    </row>
                    <column class="-hd-width-100pct- background-color-fff border-radius-10px box-shadow-0-1px-6px-0 color-000 left-0 line-height-30px margin-auto padding-y-10px position-absolute white-space-nowrap width-auto" data-command="fontName" data-display="none" data-hidden="tap" data-top="calc(100% - 5px)">
                        <text class="-hover-background-color-eb padding-x-20px">Code</text>
                        <text class="-hover-background-color-eb padding-x-20px">Highlighted</text>
                        <text class="-hover-background-color-eb padding-x-20px">Transparent</text>
                    </column>
                </field>
                <field class="position-relative" data-display="none">
                    <row class="align-items-center justify-content-center" data-dropdown data-ignore>
                        <ico data-command="inlinestyle">
                            <img class="width-30px" src="raw/asset/svg/more-text-inlinestyle.svg">
                            <n class="--ggs-50pct gg-chevron-down" data-width="10px"></n>
                        </ico>
                    </row>
                    <column class="-hd-width-100pct- background-color-fff border-radius-10px box-shadow-0-1px-6px-0 color-000 left-0 line-height-30px margin-auto padding-y-10px position-absolute white-space-nowrap width-auto" data-command="inlineStyle" data-display="none" data-hidden="tap" data-top="calc(100% - 5px)">
                        <text class="-hover-background-color-eb color-005cc8 font-size-20px font-weight-bolder padding-x-20px" data-value="color: #005cc8; font-size: 20px;">Big Blue</text>
                        <text class="-hover-background-color-eb color-ff3b30 font-size-14px padding-x-20px" data-value="color: #ff3b30; font-size: 14px;">Lil Red</text>
                    </column>
                </field>
                <ico data-command="removeFormat">
                    <img class="width-30px" src="raw/asset/svg/more-text-clearformatting.svg">
                </ico>
            </row>
            <row class="flex-wrap-wrap" data-display="flex" data-more="paragraph">
                <ico data-command="justifyLeft">
                    <!--<img class="width-30px" src="raw/asset/svg/more-paragraph-alignleft.svg">-->
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 5C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H4Z" fill="currentColor"/>
                        <path d="M4 9C3.44772 9 3 9.44772 3 10C3 10.5523 3.44772 11 4 11H12C12.5523 11 13 10.5523 13 10C13 9.44772 12.5523 9 12 9H4Z" fill="currentColor"/>
                        <path d="M3 14C3 13.4477 3.44772 13 4 13H20C20.5523 13 21 13.4477 21 14C21 14.5523 20.5523 15 20 15H4C3.44772 15 3 14.5523 3 14Z" fill="currentColor"/>
                        <path d="M4 17C3.44772 17 3 17.4477 3 18C3 18.5523 3.44772 19 4 19H12C12.5523 19 13 18.5523 13 18C13 17.4477 12.5523 17 12 17H4Z" fill="currentColor"/>
                    </svg>
                </ico>
                <ico data-command="justifyCenter">
                    <!--<img class="width-30px" src="raw/asset/svg/more-paragraph-aligncenter.svg">-->
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 5C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H4Z" fill="currentColor"/>
                        <path d="M4 13C3.44772 13 3 13.4477 3 14C3 14.5523 3.44772 15 4 15H20C20.5523 15 21 14.5523 21 14C21 13.4477 20.5523 13 20 13H4Z" fill="currentColor"/>
                        <path d="M6 10C6 9.44772 6.44772 9 7 9H17C17.5523 9 18 9.44772 18 10C18 10.5523 17.5523 11 17 11H7C6.44772 11 6 10.5523 6 10Z" fill="currentColor"/>
                        <path d="M7 17C6.44772 17 6 17.4477 6 18C6 18.5523 6.44772 19 7 19H17C17.5523 19 18 18.5523 18 18C18 17.4477 17.5523 17 17 17H7Z" fill="currentColor"/>
                    </svg>
                </ico>
                <ico data-command="insertOrderedList">
                    <img class="width-30px" src="raw/asset/svg/more-paragraph-orderedlist.svg">
                </ico>
                <ico data-command="justifyRight">
                    <!--<img class="width-30px" src="raw/asset/svg/more-paragraph-alignright.svg">-->
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 5C20.5523 5 21 5.44772 21 6C21 6.55228 20.5523 7 20 7H4C3.44772 7 3 6.55228 3 6C3 5.44772 3.44772 5 4 5H20Z" fill="currentColor"/>
                        <path d="M20 9C20.5523 9 21 9.44772 21 10C21 10.5523 20.5523 11 20 11H12C11.4477 11 11 10.5523 11 10C11 9.44772 11.4477 9 12 9H20Z" fill="currentColor"/>
                        <path d="M21 14C21 13.4477 20.5523 13 20 13H4C3.44772 13 3 13.4477 3 14C3 14.5523 3.44772 15 4 15H20C20.5523 15 21 14.5523 21 14Z" fill="currentColor"/>
                        <path d="M20 17C20.5523 17 21 17.4477 21 18C21 18.5523 20.5523 19 20 19H12C11.4477 19 11 18.5523 11 18C11 17.4477 11.4477 17 12 17H20Z" fill="currentColor"/>
                    </svg>
                </ico>
                <ico data-command="justifyFull">
                    <!--<img class="width-30px" src="raw/asset/svg/more-paragraph-alignjustify.svg">-->
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 5C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H4Z" fill="currentColor"/>
                        <path d="M4 9C3.44772 9 3 9.44772 3 10C3 10.5523 3.44772 11 4 11H20C20.5523 11 21 10.5523 21 10C21 9.44772 20.5523 9 20 9H4Z" fill="currentColor"/>
                        <path d="M3 14C3 13.4477 3.44772 13 4 13H20C20.5523 13 21 13.4477 21 14C21 14.5523 20.5523 15 20 15H4C3.44772 15 3 14.5523 3 14Z" fill="currentColor"/>
                        <path d="M4 17C3.44772 17 3 17.4477 3 18C3 18.5523 3.44772 19 4 19H20C20.5523 19 21 18.5523 21 18C21 17.4477 20.5523 17 20 17H4Z" fill="currentColor"/>
                    </svg>
                </ico>
                <field class="-hover-background-color-eb align-items-center display-flex flex-direction-row justify-content-center" data-width="50px">
                    <ico data-command="insertOrderedList" data-width="30px">
                        <img class="width-30px" src="raw/asset/svg/more-paragraph-orderedlist.svg">
                    </ico>
                    <flex class="position-relative">
                        <row class="align-items-center justify-content-center" data-dropdown data-ignore>
                            <ico data-width="16px">
                                <n class="--ggs-50pct gg-chevron-down" data-width="16px"></n>
                            </ico>
                        </row>
                        <column class="-hd-width-100pct- background-color-fff border-radius-10px box-shadow-0-1px-6px-0 color-000 left-0 line-height-30px margin-auto padding-y-10px position-absolute white-space-nowrap width-auto" data-command="insertOrderedList" data-display="none" data-hidden="tap" data-top="calc(100% - 5px)">
                            <text class="-hover-background-color-eb padding-x-20px" data-value="default">Default</text>
                            <text class="-hover-background-color-eb padding-x-20px" data-value="lower-alpha">Lower Alpha</text>
                            <text class="-hover-background-color-eb padding-x-20px" data-value="lower-greek">Lower Greek</text>
                            <text class="-hover-background-color-eb padding-x-20px" data-value="lower-roman">Lower Roman</text>
                            <text class="-hover-background-color-eb padding-x-20px" data-value="upper-alpha">Upper Alpha</text>
                            <text class="-hover-background-color-eb padding-x-20px" data-value="upper-roman">Upper Roman</text>
                        </column>
                    </flex>
                </field>
                <field class="-hover-background-color-eb align-items-center display-flex flex-direction-row justify-content-center" data-width="50px">
                    <ico data-command="insertUnorderedList" data-width="30px">
                        <img class="width-30px" src="raw/asset/svg/more-paragraph-unorderedlist.svg">
                    </ico>
                    <flex class="position-relative">
                        <row class="align-items-center justify-content-center" data-dropdown data-ignore>
                            <ico data-width="16px">
                                <n class="--ggs-50pct gg-chevron-down" data-width="16px"></n>
                            </ico>
                        </row>
                        <column class="-hd-width-100pct- background-color-fff border-radius-10px box-shadow-0-1px-6px-0 color-000 left-0 line-height-30px margin-auto padding-y-10px position-absolute white-space-nowrap width-auto" data-command="insertUnorderedList" data-display="none" data-hidden="tap" data-top="calc(100% - 5px)">
                            <text class="-hover-background-color-eb padding-x-20px" data-value="default">Default</text>
                            <text class="-hover-background-color-eb padding-x-20px" data-value="circle">Circle</text>
                            <text class="-hover-background-color-eb padding-x-20px" data-value="disc">Disc</text>
                            <text class="-hover-background-color-eb padding-x-20px" data-value="square">Square</text>
                        </column>
                    </flex>
                </field>
                <ico data-command="format">
                    <img class="width-30px" src="raw/asset/svg/more-paragraph-format.svg">
                    <n class="--ggs-50pct gg-chevron-down" data-width="10px"></n>
                </ico>
                <ico data-command="style">
                    <img class="width-30px" src="raw/asset/svg/more-paragraph-style.svg">
                    <n class="--ggs-50pct gg-chevron-down" data-width="10px"></n>
                </ico>
                <ico data-command="lineheight">
                    <!--<img class="width-30px" src="raw/asset/svg/more-paragraph-lineheight.svg">-->
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.09668 6.99707H7.17358L4.17358 3.99707L1.17358 6.99707H3.09668V17.0031H1.15881L4.15881 20.0031L7.15881 17.0031H5.09668V6.99707Z" fill="currentColor"/>
                        <path d="M22.8412 7H8.84119V5H22.8412V7Z" fill="currentColor"/>
                        <path d="M22.8412 11H8.84119V9H22.8412V11Z" fill="currentColor"/>
                        <path d="M8.84119 15H22.8412V13H8.84119V15Z" fill="currentColor"/>
                        <path d="M22.8412 19H8.84119V17H22.8412V19Z" fill="currentColor"/>
                    </svg>
                    <n class="--ggs-50pct gg-chevron-down" data-width="10px"></n>
                </ico>
                <ico data-command="outdent">
                    <!--<img class="width-30px" src="raw/asset/svg/more-paragraph-decreaseindent.svg">-->
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 7H4V5H20V7Z" fill="currentColor"/>
                        <path d="M20 11H12V9H20V11Z" fill="currentColor"/>
                        <path d="M12 15H20V13H12V15Z" fill="currentColor"/>
                        <path d="M9 9L4 12L9 15V9Z" fill="currentColor"/>
                        <path d="M4 17V19H20V17H4Z" fill="currentColor"/>
                    </svg>
                </ico>
                <ico data-command="indent">
                    <!--<img class="width-30px" src="raw/asset/svg/more-paragraph-increaseindent.svg">-->
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 7H4V5H20V7Z" fill="currentColor"/>
                        <path d="M20 11H12V9H20V11Z" fill="currentColor"/>
                        <path d="M12 15H20V13H12V15Z" fill="currentColor"/>
                        <path d="M4 15L9 12L4 9V15Z" fill="currentColor"/>
                        <path d="M4 17V19H20V17H4Z" fill="currentColor"/>
                    </svg>
                </ico>
                <flex class="position-relative">
                    <row class="align-items-center justify-content-center" data-dropdown data-ignore>
                        <ico>
                            <!--<img class="width-30px" src="raw/asset/svg/more-paragraph-quote.svg">-->
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.13456 9H12.1346L10 14.6075H7L9.13456 9Z" fill="currentColor"/>
                                <path d="M14.1346 9H17.1346L15 14.6075H12L14.1346 9Z" fill="currentColor"/>
                            </svg>
                        </ico>
                    </row>
                    <column class="-hd-width-100pct- background-color-fff border-radius-10px box-shadow-0-1px-6px-0 color-000 left-0 line-height-30px margin-auto padding-y-10px position-absolute white-space-nowrap width-auto" data-command="quote" data-display="none" data-hidden="tap" data-top="calc(100% - 5px)">
                        <text class="-hover-background-color-eb padding-x-20px" data-value="increase">Increase</text>
                        <text class="-hover-background-color-eb padding-x-20px" data-value="decrease">Decrease</text>
                    </column>
                </flex>
            </row>
            <row class="flex-wrap-wrap" data-display="none" data-more="rich">
                <ico data-command="insertlink">
                    <!--<img class="width-30px" src="raw/asset/svg/more-rich-insertlink.svg">-->
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.8284 12L16.2426 13.4142L19.071 10.5858C20.6331 9.02365 20.6331 6.49099 19.071 4.9289C17.509 3.3668 14.9763 3.3668 13.4142 4.9289L10.5858 7.75732L12 9.17154L14.8284 6.34311C15.6095 5.56206 16.8758 5.56206 17.6568 6.34311C18.4379 7.12416 18.4379 8.39049 17.6568 9.17154L14.8284 12Z" fill="currentColor"/>
                        <path d="M12 14.8285L13.4142 16.2427L10.5858 19.0711C9.02372 20.6332 6.49106 20.6332 4.92896 19.0711C3.36686 17.509 3.36686 14.9764 4.92896 13.4143L7.75739 10.5858L9.1716 12L6.34317 14.8285C5.56212 15.6095 5.56212 16.8758 6.34317 17.6569C7.12422 18.4379 8.39055 18.4379 9.1716 17.6569L12 14.8285Z" fill="currentColor"/>
                        <path d="M14.8285 10.5857C15.219 10.1952 15.219 9.56199 14.8285 9.17147C14.4379 8.78094 13.8048 8.78094 13.4142 9.17147L9.1716 13.4141C8.78107 13.8046 8.78107 14.4378 9.1716 14.8283C9.56212 15.2188 10.1953 15.2188 10.5858 14.8283L14.8285 10.5857Z" fill="currentColor"/>
                    </svg>
                </ico>
                <ico data-command="insertimage">
                    <!--<img class="width-30px" src="raw/asset/svg/more-rich-insertimage.svg">-->
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7 7C5.34315 7 4 8.34315 4 10C4 11.6569 5.34315 13 7 13C8.65685 13 10 11.6569 10 10C10 8.34315 8.65685 7 7 7ZM6 10C6 9.44772 6.44772 9 7 9C7.55228 9 8 9.44772 8 10C8 10.5523 7.55228 11 7 11C6.44772 11 6 10.5523 6 10Z" fill="currentColor"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3 3C1.34315 3 0 4.34315 0 6V18C0 19.6569 1.34315 21 3 21H21C22.6569 21 24 19.6569 24 18V6C24 4.34315 22.6569 3 21 3H3ZM21 5H3C2.44772 5 2 5.44772 2 6V18C2 18.5523 2.44772 19 3 19H7.31374L14.1924 12.1214C15.364 10.9498 17.2635 10.9498 18.435 12.1214L22 15.6863V6C22 5.44772 21.5523 5 21 5ZM21 19H10.1422L15.6066 13.5356C15.9971 13.145 16.6303 13.145 17.0208 13.5356L21.907 18.4217C21.7479 18.7633 21.4016 19 21 19Z" fill="currentColor"/>
                    </svg>
                </ico>
                <ico data-command="insertvideo">
                    <!--<img class="width-30px" src="raw/asset/svg/more-rich-insertvideo.svg">-->
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4 4.5V6.5H12V7.5H3C1.34315 7.5 0 8.84315 0 10.5V16.5C0 18.1569 1.34315 19.5 3 19.5H15C16.5731 19.5 17.8634 18.2892 17.9898 16.7487L24 17.5V9.5L17.9898 10.2513C17.8634 8.71078 16.5731 7.5 15 7.5H14V5.5C14 4.94772 13.5523 4.5 13 4.5H4ZM18 12.2656V14.7344L22 15.2344V11.7656L18 12.2656ZM16 10.5C16 9.94772 15.5523 9.5 15 9.5H3C2.44772 9.5 2 9.94772 2 10.5V16.5C2 17.0523 2.44772 17.5 3 17.5H15C15.5523 17.5 16 17.0523 16 16.5V10.5Z" fill="currentColor"/>
                    </svg>
                </ico>
                <ico data-command="insertline">
                    <img class="width-30px" src="raw/asset/svg/more-rich-insertline.svg">
                </ico>
            </row>
            <row class="flex-wrap-wrap justify-content-flex-end width-100pct" data-display="none" data-more="misc">
                <ico data-command="fullscreen">
                    <img class="width-30px" src="raw/asset/svg/more-misc-fullscreen.svg">
                </ico>
                <ico data-command="print">
                    <!--<img class="width-30px" src="raw/asset/svg/more-misc-print.svg">-->
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4H16V6H8V4ZM18 6H22V18H18V22H6V18H2V6H6V2H18V6ZM20 16H18V14H6V16H4V8H20V16ZM8 16H16V20H8V16ZM8 10H6V12H8V10Z" fill="currentColor"/>
                    </svg>
                </ico>
                <ico data-command="selectAll">
                    <img class="width-30px" src="raw/asset/svg/more-misc-selectall.svg">
                </ico>
                <ico data-command="code">
                    <!--<img class="width-30px" src="raw/asset/svg/more-misc-code.svg">-->
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.95263 16.9123L8.59323 18.3608L2.03082 12.2016L8.18994 5.63922L9.64826 7.00791L4.85783 12.112L9.95212 16.8932L9.95263 16.9123Z" fill="currentColor"/>
                        <path d="M14.0474 16.9123L15.4068 18.3608L21.9692 12.2016L15.8101 5.63922L14.3517 7.00791L19.1422 12.112L14.0479 16.8932L14.0474 16.9123Z" fill="currentColor"/>
                    </svg>
                </ico>
                <ico data-command="help">
                    <!--<img class="width-30px" src="raw/asset/svg/more-misc-help.svg">-->
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 10.9794C11 10.4271 11.4477 9.97937 12 9.97937C12.5523 9.97937 13 10.4271 13 10.9794V16.9794C13 17.5317 12.5523 17.9794 12 17.9794C11.4477 17.9794 11 17.5317 11 16.9794V10.9794Z" fill="currentColor"/>
                        <path d="M12 6.05115C11.4477 6.05115 11 6.49886 11 7.05115C11 7.60343 11.4477 8.05115 12 8.05115C12.5523 8.05115 13 7.60343 13 7.05115C13 6.49886 12.5523 6.05115 12 6.05115Z" fill="currentColor"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12Z" fill="currentColor"/>
                    </svg>
                </ico>
            </row>
        </flex>
    </header>
    <column>
        <wysiwyg class="min-height-360px padding-20px" contenteditable="true" onkeydown="controller.wysiwyg.onkeydown(event)" onkeyup="controller.wysiwyg.onkeyup(event)" onmouseup="controller.wysiwyg.onmouseup(event.target)">
            <p>
                <br>
            </p>
        </wysiwyg>
    </column>
</box>
