<header class="align-items-center background-color-ccc display-flex flex-direction-column justify-content-space-between">
    <row class="justify-content-space-between width-100pct" tabindex="1">
        <card class="height-50px justify-content-center margin-0 width-auto">
            <row class="align-items-center">
                <box data-href="/dashboard/:get/build/er" data-page="/dashboard/*/build">
                    <row class="align-items-center">
                        <ico>
                            <n class="gg-pen"></n>
                        </ico>
                    </row>
                </box>
                <box data-href="/dashboard/:get/build/er" data-page="/dashboard/*/build/preview">
                    <row class="align-items-center">
                        <ico>
                            <n class="gg-pen"></n>
                        </ico>
                    </row>
                </box>
                <box class="display-none" data-href="/dashboard/:get/build" data-page="/dashboard/*/build/er">
                    <row class="align-items-center">
                        <ico>
                            <n class="gg-close"></n>
                        </ico>
                    </row>
                </box>
                <box class="position-relative" data-page="/dashboard/*/build/er">
                    <row class="align-items-center justify-content-center" data-dropdown data-ignore>
                        <ico class="margin-left-5px">
                            <n class="gg-menu"></n>
                            <n class="--ggs-50pct gg-chevron-down" css-width="10px"></n>
                        </ico>
                    </row>
                    <column class="-hd-width-100pct- background-color-fff border-radius-10px box-shadow-0-1px-6px-0 color-000 line-height-30px margin-auto padding-y-10px position-absolute white-space-nowrap width-auto" data-command="fontName" css-display="none" data-hidden="tap" css-left="5px" css-top="calc(100% - 5px)">
                        <text class="-hover-background-color-eb padding-x-20px" data-tap="controller.builder.push()">Save</text>
                        <text class="-hover-background-color-eb padding-x-20px" data-href="/dashboard/:get/build/preview">Preview</text>
                        <text class="-hover-background-color-eb color-ff3b30 padding-x-20px" data-href="/dashboard/:get/build">Exit</text>
                    </column>
                </box>
                <box class="margin-x-5px">
                    <column>
                        <text class="font-weight-bolder" placeholder="Page Name"></text>
                        <text class="color-0096c7" placeholder="/page-name"></text>
                    </column>
                </box>
            </row>
        </card>
        <card class="flex-direction-row font-weight-bolder margin-0 padding-x-10px width-auto">
            <row>
                <box css-dw960px-display="flex" data-href="/dashboard/:get/build/preview" data-page="/dashboard/*/build">
                    <row>
                        <ico>
                            <n class="gg-eye"></n>
                        </ico>
                    </row>
                </box>
                <box data-href="/dashboard/:get/pages/:dir" data-page="/dashboard/*/build/preview">
                    <row>
                        <ico>
                            <n class="gg-options"></n>
                        </ico>
                    </row>
                </box>
            </row>
            <row class="display-flex flex-direction-row" data-page="/dashboard/*/build/er">
                <box>
                    <row>
                        <ico>
                            <n class="gg-undo"></n>
                        </ico>
                        <ico>
                            <n class="gg-redo"></n>
                        </ico>
                    </row>
                </box>
                <box class="position-relative" data-page="/dashboard/*/build/er">
                    <row class="align-items-center justify-content-center">
                        <ico>
                            <n class="gg-options"></n>
                        </ico>
                    </row>
                </box>
            </row>
        </card>
    </row>
</header>
<block class="flex-1 position-relative">
    <iframe class="background-color-fff height-100pct width-100pct" id="iframe-editor"></iframe>
    <tool class="bottom-20px left-20px margin-auto right-auto position-absolute" data-page="/dashboard/*/build/er">
        <card class="background-color-ffffff border-radius-50px" css-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-mode="tip">
            <row>
                <ico data-tap="controller.builder.create(event.target)" css-transition="0.3s">
                    <n class="gg-add"></n>
                </ico>
            </row>
        </card>
        <card class="background-color-ffffff border-radius-50px" css-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" css-display="none" data-mode="bar">
            <row css-width="150px">
                <ico data-tap="controller.builder.update(event.target)">
                    <n class="gg-pen"></n>
                </ico>
                <ico data-tap="controller.builder.create(event.target)" css-transition="0.3s">
                    <n class="gg-add"></n>
                </ico>
                <ico data-tap="controller.builder.delete(event.target)">
                    <n class="gg-trash"></n>
                </ico>
            </row>
        </card>
        <card class="background-color-ffffff border-radius-50px" css-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" css-display="none" data-mode="belt">
            <row css-width="150px">
                <ico data-tap="controller.builder.update(event.target)">
                    <n class="gg-pen"></n>
                </ico>
                <ico data-tap="controller.builder.create(event.target)" css-transition="0.3s">
                    <n class="gg-add"></n>
                </ico>
                <ico data-tap="controller.builder.delete(event.target)">
                    <n class="gg-trash"></n>
                </ico>
            </row>
        </card>
        <card class="background-color-ffffff border-radius-10px height-320px width-320px" css-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" css-display="none" data-mode="box">
            <row>
                <box css-height="320px" css-width="320px"></box>
            </row>
        </card>
        <card class="background-color-ffffff border-radius-10px" css-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" css-display="none" data-mode="set">
            <row css-width="300px">
                <box css-height="50px" css-width="50px">
                    <column class="align-items-center flex-1 justify-content-center">
                        <ico css-height="30px" css-width="30px">
                            <n class="gg-text"></n>
                        </ico>
                    </column>
                    <line class="display-none position-absolute" css-background-color="#000" css-bottom="-5px" css-height="5px" css-width="100%"></line>
                </box>
                <box css-height="50px" css-width="50px">
                    <column class="align-items-center flex-1 justify-content-center">
                        <ico css-height="30px" css-width="30px">
                            <n class="gg-image"></n>
                        </ico>
                    </column>
                    <line class="display-none position-absolute" css-background-color="#000" css-bottom="-5px" css-height="5px" css-width="100%"></line>
                </box>
                <box css-height="50px" css-width="50px">
                    <column class="align-items-center flex-1 justify-content-center">
                        <ico css-height="30px" css-width="30px">
                            <n class="gg-film"></n>
                        </ico>
                    </column>
                    <line class="display-none position-absolute" css-background-color="#000" css-bottom="-5px" css-height="5px" css-width="100%"></line>
                </box>
                <box css-height="50px" css-width="50px">
                    <column class="align-items-center flex-1 justify-content-center">
                        <ico css-height="30px" css-width="30px">
                            <n class="gg-music"></n>
                        </ico>
                    </column>
                    <line class="display-none position-absolute" css-background-color="#000" css-bottom="-5px" css-height="5px" css-width="100%"></line>
                </box>
                <box css-height="50px" css-width="50px">
                    <column class="align-items-center flex-1 justify-content-center">
                        <ico css-height="30px" css-width="30px">
                            <n class="gg-line"></n>
                        </ico>
                    </column>
                    <line class="display-none position-absolute" css-background-color="#000" css-bottom="-5px" css-height="5px" css-width="100%"></line>
                </box>
                <box css-height="50px" css-width="50px">
                    <column class="align-items-center flex-1 justify-content-center">
                        <ico css-height="30px" css-width="30px">
                            <n class="gg-code-slash"></n>
                        </ico>
                    </column>
                    <line class="display-none position-absolute" css-background-color="#000" css-bottom="-5px" css-height="5px" css-width="100%"></line>
                </box>
            </row>
            <flex class="margin-top-5px padding-bottom-20px padding-top-10px padding-x-20px">
                <box class="min-height-120px" css-display="none" data-value="cell.text">
                    <header>
                        <text class="font-weight-bolder line-height-30px">Text</text>
                    </header>
                    <column></column>
                </box>
                <box class="min-height-120px" css-display="none" data-value="cell.picture">
                    <header>
                        <text class="font-weight-bolder line-height-30px">Picture</text>
                    </header>
                    <column></column>
                </box>
                <box class="min-height-120px" css-display="none" data-value="cell.video">
                    <header>
                        <text class="font-weight-bolder line-height-30px">Video</text>
                    </header>
                    <column></column>
                </box>
                <box class="min-height-120px" css-display="none" data-value="cell.audio">
                    <header>
                        <text class="font-weight-bolder line-height-30px">Audio</text>
                    </header>
                    <column></column>
                </box>
                <box class="min-height-120px" css-display="none" data-value="cell.line">
                    <header>
                        <text class="font-weight-bolder line-height-30px">Line</text>
                    </header>
                    <column></column>
                </box>
                <box class="min-height-120px" css-display="none" data-value="cell.embed">
                    <header>
                        <text class="font-weight-bolder line-height-30px">Embed</text>
                    </header>
                    <column></column>
                </box>
            </flex>
        </card>
    </tool>
    <template id="focus-element">
        <focus class="box-sizing-border-box outline-4px-solid-52b9d6 position-absolute z-index-9">
            <cell class="background-color-fff border-4px-solid border-color-52b9d6 display-block position-absolute" css-height="5px" data-left="-8px" data-top="-8px" css-width="5px"></cell>
            <cell class="background-color-fff border-4px-solid border-color-52b9d6 display-block position-absolute" css-height="5px" data-left="-8px" data-margin="auto" data-right="-8px" data-top="-8px" css-width="5px"></cell>
            <cell class="background-color-fff border-4px-solid border-color-52b9d6 display-block position-absolute" css-height="5px" data-right="-8px" data-top="-8px" css-width="5px"></cell>
            <cell class="background-color-fff border-4px-solid border-color-52b9d6 display-block position-absolute" data-bottom="-8px" css-height="5px" data-left="-8px" data-margin="auto" data-top="-8px" css-width="5px"></cell>
            <cell class="background-color-fff border-4px-solid border-color-52b9d6 display-block position-absolute" data-bottom="-8px" css-height="5px" data-right="-8px" data-margin="auto" data-top="-8px" css-width="5px"></cell>
            <cell class="background-color-fff border-4px-solid border-color-52b9d6 display-block position-absolute" data-bottom="-8px" css-height="5px" data-left="-8px" css-width="5px"></cell>
            <cell class="background-color-fff border-4px-solid border-color-52b9d6 display-block position-absolute" data-bottom="-8px" css-height="5px" data-left="-8px" data-margin="auto" data-right="-8px" css-width="5px"></cell>
            <cell class="background-color-fff border-4px-solid border-color-52b9d6 display-block position-absolute" data-bottom="-8px" css-height="5px" data-right="-8px" css-width="5px"></cell>
        </focus>
    </template>
    <template id="framework-builder-insert">
        <insertable class="align-items-center display-flex flex-direction-column gap-5px justify-content-center padding-y-10px text-align-center">
            <column class="gap-5px padding-30px">
                <text class="display-block font-weight-bolder">Add Page Content</text>
                <text class="background-color-777 border-radius-5px display-block font-size-13px margin-auto padding-5px text-transform-uppercase width-100px">Add Block</text>
            </column>
        </insertable>
    </template>
</block>
