<block class="align-items-center height-100pct justify-content-center width-100pct">
    <picture data-tap="modal.exit(event.target)"></picture>
    <flex style="margin: 60px 30px auto auto">
        <card class="background-color-fff border-radius-10px display-inline-flex flex-direction-column margin-auto" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-element="main">
            <header class="line-height-50px" data-columns="3">
                <box class="border-bottom-1px-solid border-color-ccc">
                    <row class="align-items-center gap-5px justify-content-center padding-x-20px">
                        <ico data-height="20px" data-width="20px">
                            <n class="gg-block"></n>
                        </ico>
                        <text class="text-transform-capitalize" data-before="block"></text>
                    </row>
                </box>
                <box class="border-bottom-1px-solid border-color-ccc border-left-1px-solid border-right-1px-solid">
                    <row class="align-items-center gap-5px justify-content-center padding-x-20px">
                        <ico data-height="20px" data-width="20px">
                            <n class="gg-card"></n>
                        </ico>
                        <text class="text-transform-capitalize" data-before="card"></text>
                    </row>
                </box>
                <box class="border-bottom-1px-solid  border-color-ccc">
                    <row class="align-items-center gap-5px justify-content-center padding-x-20px">
                        <ico data-height="20px" data-width="20px">
                            <n class="gg-display-grid"></n>
                        </ico>
                        <text class="text-transform-capitalize" data-before="box"></text>
                    </row>
                </box>
            </header>
            <column class="border-color-db border-left-1px-solid gap-10px padding-20px width-320px" data-tap="controller.builder.create(event.target)">                
                <box>
                    <section>
                        <picture class="background-color-000 height-50px width-100pct"></picture>
                    </section>
                </box>
                <box>
                    <section>
                        <picture class="background-color-000 height-75px width-100pct"></picture>
                    </section>
                </box>
                <box>
                    <section>
                        <picture class="background-color-000 height-100px width-100pct"></picture>
                    </section>
                </box>
            </column>
        </card>
    </flex>
</block>