<column>
    <header class="padding-20px text-align-center">
        <section>
            <text class="font-weight-bolder">Pick a style for your app.</text>
        </section>
    </header>
    <section class="section-step-one">
        <column class="app-name" data-before="Brand Name">
            <picture class="margin-20px width-240px">
                <img class="width-100pct" src="raw/svg/setup-name.svg">
            </picture>
            <box class="border-1px-solid border-color-bbb border-radius-10px height-50px line-height-50px margin-bottom-20px" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)">
                <row class="height-100pct left-0 position-absolute right-0 top-0 width-100pct">
                    <!--<text class="flex-grow-1 padding-x-20px">No template</text>-->
                    <text class="flex-grow-1 padding-x-20px" placeholder="No template"></text>
                    <ico>
                        <n class="gg-chevron-down"></n>
                    </ico>
                </row>
            </box>
            <box class="padding-y-20px text-align-center">
                <section>
                    <text>or</text>
                </section>
            </box>
            <box class="color-0096c7 padding-y-20px text-align-center" data-href="/design/">
                <section>
                    <text>Browse Designs</text>
                </section>
            </box>
        </column>
    </section>
    <footer class="bottom-0 left-0 line-height-50px margin-auto max-width-480px position-fixed right-0 width-100pct">
        <row class="justify-content-space-between">
            <box class="padding-x-10px" data-href="/new/">
                <row>
                    <ico data-width="25px">
                        <n class="gg-chevron-left"></n>
                    </ico>
                    <text>Exit</text>
                </row>
            </box>
            <box class="padding-x-10px" data-tap="controller.setup.step(event.target)">
                <row>
                    <text>Next</text>
                    <ico data-width="25px">
                        <n class="gg-chevron-right"></n>
                    </ico>
                </row>
            </box>
        </row>
    </footer>
</column>
