<insertable class="align-items-center background-color-333 color-fff display-flex flex-direction-row height-3px justify-content-center">
    <block>
        <column class="gap-5px padding-30px">
            <text class="display-block font-weight-bolder">Add Site Header</text>
            <text class="background-color-777 border-radius-5px color-fff display-block font-size-13px margin-auto padding-5px text-transform-uppercase width-100px">Add Block</text>
        </column>
    </block>
    <text class="align-items-center background-color-333 border-radius-50px color-fff display-flex font-size-13px height-36px line-height-36px justify-content-center padding-x-20px" data-tap="framework.builder.blocks(event.target)" data-display="none">
        <span>Add Block</span>
    </text>
</insertable>
