<block class="align-items-center height-100pct justify-content-center width-100pct" data-background-color="rgba(0,0,0,0.5)" data-backdrop-filter="blur(10px)">
    <picture data-tap="modal.exit(event.target)"></picture>
    <flex>
        <card class="background-color-fff border-radius-10px display-inline-flex flex-direction-row margin-auto" data-element="main">
            <column class="padding-20px width-160px">
                <box class="font-size-16px gap-20px line-height-30px">
                    <column>
                        <text class="font-weight-bolder">Blank</text>
                    </column>
                    <column>
                        <text class="font-weight-bolder">Media</text>
                        <text class="font-weight-bolder">Merch</text>
                        <text class="font-weight-bolder">Video</text>
                        <text class="font-weight-bolder">Audio</text>
                        <text class="font-weight-bolder">Photo</text>
                    </column>
                </box>
            </column>
            <column class="border-color-db border-left-1px-solid gap-10px padding-20px width-480px" data-columns="2">                
                <box>
                    <section>
                        <picture class="background-color-000 height-50px width-100pct"></picture>
                    </section>
                </box>
                <box>
                    <section>
                        <picture class="background-color-000 height-75px width-100pct"></picture>
                    </section>
                </box>
                <box>
                    <section>
                        <picture class="background-color-000 height-100px width-100pct"></picture>
                    </section>
                </box>
            </column>
        </card>
    </flex>
</block>