<block class="align-items-center height-100pct justify-content-center width-100pct">
    <picture data-tap="modal.exit(event.target)"></picture>
    <flex style="margin: 60px 50px auto auto">
        <card class="background-color-fff border-radius-10px display-inline-flex flex-direction-column margin-auto overflow-hidden" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-element="main">
            <header class="line-height-50px" data-columns="3" data-tap="tool.set.tab(event.target)">
                <box class="border-bottom-1px-solid border-color-ccc">
                    <row class="align-items-center gap-5px justify-content-center padding-x-20px">
                        <ico data-height="20px" data-width="20px">
                            <n class="gg-block"></n>
                        </ico>
                        <text class="text-transform-capitalize" data-before="block"></text>
                    </row>
                </box>
                <box class="border-bottom-1px-solid border-color-ccc border-left-1px-solid border-right-1px-solid">
                    <row class="align-items-center gap-5px justify-content-center padding-x-20px">
                        <ico data-height="20px" data-width="20px">
                            <n class="gg-card"></n>
                        </ico>
                        <text class="text-transform-capitalize" data-before="card"></text>
                    </row>
                </box>
                <box class="border-bottom-1px-solid  border-color-ccc">
                    <row class="align-items-center gap-5px justify-content-center padding-x-20px">
                        <ico data-height="20px" data-width="20px">
                            <n class="gg-display-grid"></n>
                        </ico>
                        <text class="text-transform-capitalize" data-before="box"></text>
                    </row>
                </box>
            </header>
            <!--BLOCK-->
            <column class="gap-10px overflow-x-hidden padding-20px" data-display="none" data-height="320px" data-width="320px">
                <box class="display-flex flex-direction-column justify-content-space-between line-height-30px">
                    <header>
                        <text class="font-size-13px font-weight-bolder text-transform-uppercase">Size</text>
                    </header>
                    <row class="flex-1 gap-5px justify-content-space-between padding-y-10px" tabindex="1">
                        <text class="font-weight-bolder">Height</text>
                        <flex class="gap-5px" data-element="focus" data-property="height">
                            <input class="border-1px-solid border-color-db border-radius-3px text-align-center width-50px" data-value="number" onchange="tool.box.value(event.target)" type="number" value="50">
                            <field class="position-relative" data-declaration>
                                <row class="align-items-center gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="unit">px</text>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto z-index-5" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-tap="tool.box.unit(event.target)" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">px</text>
                                    <text class="-hover-background-color-eb padding-x-20px">vw</text>
                                    <text class="-hover-background-color-eb padding-x-20px">%</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                </box>
                <box class="display-flex flex-direction-column justify-content-space-between line-height-30px">
                    <header>
                        <text class="font-size-13px font-weight-bolder text-transform-uppercase">Text</text>
                    </header>
                    <row class="gap-5px justify-content-space-between padding-y-10px" data-element="wrapper" data-property="text-align" tabindex="2">
                        <text class="font-weight-bolder">Text Align</text>
                        <flex class="gap-5px" data-declaration>
                            <field class="position-relative">
                                <row class="align-items-center color-ddd gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="value" value="left">Left</text>
                                    <ico class="color-777" data-height="20px" data-width="20px">
                                        <n class="gg-chevron-down"></n>
                                    </ico>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">Left</text>
                                    <text class="-hover-background-color-eb padding-x-20px">Center</text>
                                    <text class="-hover-background-color-eb padding-x-20px">Right</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                </box>
                <box class="display-flex flex-direction-column justify-content-space-between line-height-30px">
                    <header>
                        <text class="font-size-13px font-weight-bolder text-transform-uppercase">Flex</text>
                    </header>
                    <row class="gap-5px justify-content-space-between padding-y-10px" data-element="wrapper" data-property="flex-direction" tabindex="2">
                        <text class="font-weight-bolder">Flex Direction</text>
                        <flex class="gap-5px" data-declaration>
                            <field class="position-relative">
                                <row class="align-items-center color-ddd gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="value">Column</text>
                                    <ico class="color-777" data-height="20px" data-width="20px">
                                        <n class="gg-chevron-down"></n>
                                    </ico>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">Default</text>
                                    <text class="-hover-background-color-eb padding-x-20px">Column</text>
                                    <text class="-hover-background-color-eb padding-x-20px">Row</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                </box>
            </column>
            <!--CARD-->
            <column class="gap-20px overflow-x-hidden padding-20px" data-display="none" data-height="320px" data-width="320px">
                <box class="display-flex flex-direction-column justify-content-space-between line-height-30px" tabindex="1">
                    <header>
                        <text class="font-size-13px font-weight-bolder text-transform-uppercase">Size</text>
                    </header>
                    <row class="flex-1 gap-5px justify-content-space-between padding-y-10px" data-element="focus" data-property="width" tabindex="1">
                        <text class="font-weight-bolder">Width</text>
                        <flex class="gap-5px" data-declaration>
                            <input class="border-1px-solid border-color-db border-radius-3px display-none text-align-center width-50px" data-value="number" onchange="tool.box.width(event.target)" type="number" value="960">
                            <field class="position-relative">
                                <row class="align-items-center gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="unit">auto</text>
                                </row>
                                <column class="background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto z-index-5" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-tap="tool.box.unit(event.target)" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">auto</text>
                                    <text class="-hover-background-color-eb padding-x-20px">px</text>
                                    <text class="-hover-background-color-eb padding-x-20px">vw</text>
                                    <text class="-hover-background-color-eb padding-x-20px">%</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                </box>
                <box class="display-flex flex-direction-column justify-content-space-between line-height-30px" tabindex="2">
                    <header>
                        <text class="font-size-13px font-weight-bolder text-transform-uppercase">Text</text>
                    </header>
                    <row class="gap-5px justify-content-space-between padding-y-10px" data-element="wrapper" data-property="text-align" tabindex="2">
                        <text class="font-weight-bolder">Text Align</text>
                        <flex class="gap-5px" data-declaration>
                            <field class="position-relative">
                                <row class="align-items-center color-ddd gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="value" value="left">Left</text>
                                    <ico class="color-777" data-height="20px" data-width="20px">
                                        <n class="gg-chevron-down"></n>
                                    </ico>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">Left</text>
                                    <text class="-hover-background-color-eb padding-x-20px">Center</text>
                                    <text class="-hover-background-color-eb padding-x-20px">Right</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                </box>
                <box class="display-flex flex-direction-column justify-content-space-between line-height-30px" tabindex="3">
                    <header>
                        <text class="font-size-13px font-weight-bolder text-transform-uppercase">Display</text>
                    </header>
                    <row class="gap-5px justify-content-space-between padding-y-10px" data-element="focus" data-property="display" tabindex="3">
                        <text class="font-weight-bolder">Display</text>
                        <flex class="gap-5px" data-declaration>
                            <field class="position-relative">
                                <row class="align-items-center color-ddd gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="value" value="grid">Grid</text>
                                    <ico class="color-777" data-height="20px" data-width="20px">
                                        <n class="gg-chevron-down"></n>
                                    </ico>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">Block</text>
                                    <text class="-hover-background-color-eb padding-x-20px">Flex</text>
                                    <text class="-hover-background-color-eb padding-x-20px">Grid</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                    <column>
                        <row class="border-top-1px-solid border-color-ddd flex-1 gap-5px justify-content-space-between padding-y-10px" data-element="wrapper" data-property="gridTemplateColumns" tabindex="3">
                            <text class="font-weight-bolder">Columns</text>
                            <field data-declaration>
                                <ico data-height="20px" data-width="20px">
                                    <n class="gg-math-minus"></n>
                                </ico>
                                <input class="border-1px-solid border-color-db border-radius-3px font-size-16px line-height-30px margin-x-5px padding-x-10px text-align-center width-20px" data-value="number" onchange="tool.box.columns(event)" value="3">
                                <ico data-height="20px" data-width="20px">
                                    <n class="gg-math-plus"></n>
                                </ico>
                            </field>
                        </row>
                        <row class="border-top-1px-solid border-color-ddd flex-1 gap-5px justify-content-space-between padding-y-10px" data-element="wrapper" data-property="gap" tabindex="4">
                            <text class="font-weight-bolder">Grid Gap</text>
                            <flex class="gap-5px" data-declaration>
                                <input class="border-1px-solid border-color-db border-radius-3px text-align-center width-50px" data-value="number" onchange="tool.box.value(event.target)" type="number" value="20">
                                <field class="position-relative">
                                    <row class="align-items-center gap-5px justify-content-center" data-dropdown data-ignore>
                                        <text data-value="unit">px</text>
                                    </row>
                                    <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto z-index-5" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-tap="tool.box.unit(event.target)" data-top="100%">
                                        <text class="-hover-background-color-eb padding-x-20px">px</text>
                                        <text class="-hover-background-color-eb padding-x-20px">vw</text>
                                        <text class="-hover-background-color-eb padding-x-20px">%</text>
                                    </column>
                                </field>
                            </flex>
                        </row>
                    </column>
                </box>
                <box class="display-flex flex-direction-column justify-content-space-between line-height-30px" tabindex="4">
                    <header>
                        <text class="font-size-13px font-weight-bolder text-transform-uppercase">Margin</text>
                    </header>
                    <row class="flex-1 gap-5px justify-content-space-between padding-y-10px" data-element="focus" data-property="margin" tabindex="3">
                        <text class="font-weight-bolder">Margin</text>
                        <flex class="gap-5px" data-declaration>
                            <input class="border-1px-solid border-color-db border-radius-3px text-align-center width-50px" data-value="number" onchange="tool.box.value(event.target)" type="number" value="50">
                            <field class="position-relative">
                                <row class="align-items-center gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="unit">px</text>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto z-index-5" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-tap="tool.box.unit(event.target)" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">auto</text>
                                    <text class="-hover-background-color-eb padding-x-20px">px</text>
                                    <text class="-hover-background-color-eb padding-x-20px">vw</text>
                                    <text class="-hover-background-color-eb padding-x-20px">%</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                    <row class="border-top-1px-solid border-color-ddd flex-1 gap-5px justify-content-space-between padding-y-10px" data-element="focus" data-property="marginTop" tabindex="3">
                        <text class="font-weight-bolder">Margin Top</text>
                        <flex class="gap-5px" data-declaration>
                            <input class="border-1px-solid border-color-db border-radius-3px text-align-center width-50px" data-value="numbe" onchange="tool.box.value(event.target)" type="number" value="50">
                            <field class="position-relative">
                                <row class="align-items-center gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="unit">px</text>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto z-index-5" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-tap="tool.box.unit(event.target)" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">px</text>
                                    <text class="-hover-background-color-eb padding-x-20px">vw</text>
                                    <text class="-hover-background-color-eb padding-x-20px">%</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                    <row class="border-top-1px-solid border-color-ddd flex-1 gap-5px justify-content-space-between padding-y-10px" data-element="focus" data-property="marginRight" tabindex="4">
                        <text class="font-weight-bolder">Margin Right</text>
                        <flex class="gap-5px" data-declaration>
                            <input class="border-1px-solid border-color-db border-radius-3px text-align-center width-50px" data-value="number" onchange="tool.box.value(event.target)" type="number" value="50">
                            <field class="position-relative">
                                <row class="align-items-center gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="unit">px</text>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto z-index-5" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-tap="tool.box.unit(event.target)" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">px</text>
                                    <text class="-hover-background-color-eb padding-x-20px">vw</text>
                                    <text class="-hover-background-color-eb padding-x-20px">%</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                    <row class="border-top-1px-solid border-color-ddd flex-1 gap-5px justify-content-space-between padding-y-10px" data-element="focus" data-property="marginBottom" tabindex="5">
                        <text class="font-weight-bolder">Margin Bottom</text>
                        <flex class="gap-5px" data-declaration>
                            <input class="border-1px-solid border-color-db border-radius-3px text-align-center width-50px" data-value="number" onchange="tool.box.value(event.target)" type="number" value="50">
                            <field class="position-relative">
                                <row class="align-items-center gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="unit">px</text>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto z-index-5" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-tap="tool.box.unit(event.target)" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">px</text>
                                    <text class="-hover-background-color-eb padding-x-20px">vw</text>
                                    <text class="-hover-background-color-eb padding-x-20px">%</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                    <row class="border-top-1px-solid border-color-ddd flex-1 gap-5px justify-content-space-between padding-y-10px" data-element="focus" data-property="marginLeft" tabindex="6">
                        <text class="font-weight-bolder">Margin Left</text>
                        <flex class="gap-5px" data-declaration>
                            <input class="border-1px-solid border-color-db border-radius-3px text-align-center width-50px" data-value="number" onchange="tool.box.value(event.target)" type="number" value="50">
                            <field class="position-relative">
                                <row class="align-items-center gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="unit">px</text>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto z-index-5" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-tap="tool.box.unit(event.target)" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">auto</text>
                                    <text class="-hover-background-color-eb padding-x-20px">px</text>
                                    <text class="-hover-background-color-eb padding-x-20px">vw</text>
                                    <text class="-hover-background-color-eb padding-x-20px">%</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                </box>
                <box class="display-flex flex-direction-column justify-content-space-between line-height-30px" tabindex="4">
                    <header>
                        <text class="font-size-13px font-weight-bolder text-transform-uppercase">Padding</text>
                    </header>
                    <row class="flex-1 gap-5px justify-content-space-between padding-y-10px" data-element="wrapper" data-property="margin" tabindex="3">
                        <text class="font-weight-bolder">Padding</text>
                        <flex class="gap-5px" data-declaration>
                            <input class="border-1px-solid border-color-db border-radius-3px text-align-center width-50px" data-value="number" onchange="tool.box.value(event.target)" type="number" value="50">
                            <field class="position-relative">
                                <row class="align-items-center gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="unit">px</text>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto z-index-5" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-tap="tool.box.unit(event.target)" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">auto</text>
                                    <text class="-hover-background-color-eb padding-x-20px">px</text>
                                    <text class="-hover-background-color-eb padding-x-20px">vw</text>
                                    <text class="-hover-background-color-eb padding-x-20px">%</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                    <row class="border-top-1px-solid border-color-ddd flex-1 gap-5px justify-content-space-between padding-y-10px" data-element="wrapper" data-property="marginTop" tabindex="3">
                        <text class="font-weight-bolder">Padding Top</text>
                        <flex class="gap-5px" data-declaration>
                            <input class="border-1px-solid border-color-db border-radius-3px text-align-center width-50px" data-value="numbe" onchange="tool.box.value(event.target)" type="number" value="50">
                            <field class="position-relative">
                                <row class="align-items-center gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="unit">px</text>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto z-index-5" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-tap="tool.box.unit(event.target)" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">px</text>
                                    <text class="-hover-background-color-eb padding-x-20px">vw</text>
                                    <text class="-hover-background-color-eb padding-x-20px">%</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                    <row class="border-top-1px-solid border-color-ddd flex-1 gap-5px justify-content-space-between padding-y-10px" data-element="wrapper" data-property="marginRight" tabindex="4">
                        <text class="font-weight-bolder">Padding Right</text>
                        <flex class="gap-5px" data-declaration>
                            <input class="border-1px-solid border-color-db border-radius-3px text-align-center width-50px" data-value="number" onchange="tool.box.value(event.target)" type="number" value="50">
                            <field class="position-relative">
                                <row class="align-items-center gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="unit">px</text>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto z-index-5" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-tap="tool.box.unit(event.target)" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">px</text>
                                    <text class="-hover-background-color-eb padding-x-20px">vw</text>
                                    <text class="-hover-background-color-eb padding-x-20px">%</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                    <row class="border-top-1px-solid border-color-ddd flex-1 gap-5px justify-content-space-between padding-y-10px" data-element="wrapper" data-property="marginBottom" tabindex="5">
                        <text class="font-weight-bolder">Padding Bottom</text>
                        <flex class="gap-5px" data-declaration>
                            <input class="border-1px-solid border-color-db border-radius-3px text-align-center width-50px" data-value="number" onchange="tool.box.value(event.target)" type="number" value="50">
                            <field class="position-relative">
                                <row class="align-items-center gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="unit">px</text>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto z-index-5" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-tap="tool.box.unit(event.target)" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">px</text>
                                    <text class="-hover-background-color-eb padding-x-20px">vw</text>
                                    <text class="-hover-background-color-eb padding-x-20px">%</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                    <row class="border-top-1px-solid border-color-ddd flex-1 gap-5px justify-content-space-between padding-y-10px" data-element="wrapper" data-property="marginLeft" tabindex="6">
                        <text class="font-weight-bolder">Padding Left</text>
                        <flex class="gap-5px" data-declaration>
                            <input class="border-1px-solid border-color-db border-radius-3px text-align-center width-50px" data-value="number" onchange="tool.box.value(event.target)" type="number" value="50">
                            <field class="position-relative">
                                <row class="align-items-center gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="unit">px</text>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto z-index-5" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-tap="tool.box.unit(event.target)" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">auto</text>
                                    <text class="-hover-background-color-eb padding-x-20px">px</text>
                                    <text class="-hover-background-color-eb padding-x-20px">vw</text>
                                    <text class="-hover-background-color-eb padding-x-20px">%</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                </box>
                <box class="display-flex flex-direction-column justify-content-space-between line-height-30px" tabindex="5">
                    <header>
                        <text class="font-size-13px font-weight-bolder text-transform-uppercase">Media</text>
                    </header>
                    <row class="border-bottom-1px-solid border-color-ddd gap-5px justify-content-space-between line-height-30px padding-y-10px" tabindex="5">
                        <text class="font-weight-bolder">Audio</text>
                        <label class='align-items-center display-flex gap-5px justify-content-center' data-height="30px">
                            <input type="checkbox">
                            <ico class="-checked-background-color-005cc8 -checked-border-color-005cc8 -checked-color-fff border-2px-solid border-color-777 border-radius-50pct box-sizing-border-box color-777 color-ddd" data-height="20px" data-width="20px">
                                <n class="-checked-display-flex gg-check display-none"></n>
                            </ico>
                        </label>
                    </row>
                    <row class="border-bottom-1px-solid border-color-ddd gap-5px justify-content-space-between line-height-30px padding-y-10px" tabindex="6">
                        <text class="font-weight-bolder">Merch</text>
                        <label class='align-items-center display-flex gap-5px justify-content-center' data-height="30px">
                            <input type="checkbox">
                            <ico class="-checked-background-color-005cc8 -checked-border-color-005cc8 -checked-color-fff border-2px-solid border-color-777 border-radius-50pct box-sizing-border-box color-777 color-ddd" data-height="20px" data-width="20px">
                                <n class="-checked-display-flex gg-check display-none"></n>
                            </ico>
                        </label>
                    </row>
                    <row class="border-bottom-1px-solid border-color-ddd gap-5px justify-content-space-between line-height-30px padding-y-10px" tabindex="7">
                        <text class="font-weight-bolder">Pages</text>
                        <label class='align-items-center display-flex gap-5px justify-content-center' data-height="30px">
                            <input type="checkbox">
                            <ico class="-checked-background-color-005cc8 -checked-border-color-005cc8 -checked-color-fff border-2px-solid border-color-777 border-radius-50pct box-sizing-border-box color-777 color-ddd" data-height="20px" data-width="20px">
                                <n class="-checked-display-flex gg-check display-none"></n>
                            </ico>
                        </label>
                    </row>
                    <row class="border-bottom-1px-solid border-color-ddd gap-5px justify-content-space-between line-height-30px padding-y-10px" tabindex="8">
                        <text class="font-weight-bolder">Photo</text>
                        <label class='align-items-center display-flex gap-5px justify-content-center' data-height="30px">
                            <input type="checkbox">
                            <ico class="-checked-background-color-005cc8 -checked-border-color-005cc8 -checked-color-fff border-2px-solid border-color-777 border-radius-50pct box-sizing-border-box color-777 color-ddd" data-height="20px" data-width="20px">
                                <n class="-checked-display-flex gg-check display-none"></n>
                            </ico>
                        </label>
                    </row>
                    <row class="border-color-ddd gap-5px justify-content-space-between line-height-30px padding-y-10px" tabindex="9">
                        <text class="font-weight-bolder">Video</text>
                        <label class='align-items-center display-flex gap-5px justify-content-center' data-height="30px">
                            <input type="checkbox">
                            <ico class="-checked-background-color-005cc8 -checked-border-color-005cc8 -checked-color-fff border-2px-solid border-color-777 border-radius-50pct box-sizing-border-box color-777 color-ddd" data-height="20px" data-width="20px">
                                <n class="-checked-display-flex gg-check display-none"></n>
                            </ico>
                        </label>
                    </row>
                </box>
                <box class="display-flex flex-direction-column justify-content-space-between line-height-30px" data-display="none" tabindex="6">
                    <header>
                        <text class="font-size-13px font-weight-bolder text-transform-uppercase">Children</text>
                    </header>
                    <row class="border-color-ddd gap-5px justify-content-space-between line-height-30px padding-y-10px" data-element="children" data-property="aspect-ratio" tabindex="10">
                        <text class="font-weight-bolder">Aspect Ratio</text>
                        <field class="position-relative" data-declaration>
                            <row class="align-items-center color-ddd gap-5px justify-content-center" data-dropdown data-ignore>
                                <text>1:1 Square</text>
                                <ico class="color-777" data-height="20px" data-width="20px">
                                    <n class="gg-chevron-down"></n>
                                </ico>
                            </row>
                            <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-top="100%">
                                <text class="-hover-background-color-eb padding-x-20px">1:1 Square</text>
                                <text class="-hover-background-color-eb padding-x-20px">3:2 Standard</text>
                                <text class="-hover-background-color-eb padding-x-20px">2:3 Standard (Vertical)</text>
                                <text class="-hover-background-color-eb padding-x-20px">4:3 Four-Three</text>
                                <text class="-hover-background-color-eb padding-x-20px">3:4 Three-Four (Vertical)</text>
                                <text class="-hover-background-color-eb padding-x-20px">16:9 Widescreen</text>
                                <text class="-hover-background-color-eb padding-x-20px">Ultra Widescreen</text>
                            </column>
                        </field>
                    </row>
                </box>
            </column>
            <!--BOX-->
            <column class="gap-20px overflow-x-hidden padding-20px" data-display="none" data-height="320px" data-width="320px">
                <box class="display-flex flex-direction-column justify-content-space-between line-height-30px">
                    <header>
                        <text class="font-size-13px font-weight-bolder text-transform-uppercase">Size</text>
                    </header>
                    <row class="flex-1 gap-5px justify-content-space-between padding-y-10px" data-element="focus" data-property="width" tabindex="1">
                        <text class="font-weight-bolder">Width</text>
                        <flex class="gap-5px" data-declaration>
                            <input class="border-1px-solid border-color-db border-radius-3px text-align-center width-50px" data-value="number" onchange="tool.box.width(event.target)" type="number" value="50">
                            <field class="position-relative">
                                <row class="align-items-center gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="unit">px</text>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto z-index-5" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-tap="tool.box.unit(event.target)" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">px</text>
                                    <text class="-hover-background-color-eb padding-x-20px">vw</text>
                                    <text class="-hover-background-color-eb padding-x-20px">%</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                    <row class="border-top-1px-solid border-color-ddd flex-1 gap-5px justify-content-space-between padding-y-10px" tabindex="2">
                        <text class="font-weight-bolder">Height</text>
                        <flex class="gap-5px" data-element="focus" data-property="height">
                            <input class="border-1px-solid border-color-db border-radius-3px text-align-center width-50px" data-value="number" onchange="tool.box.value(event.target)" type="number" value="50">
                            <field class="position-relative" data-declaration>
                                <row class="align-items-center gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="unit">px</text>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto z-index-5" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-tap="tool.box.unit(event.target)" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">px</text>
                                    <text class="-hover-background-color-eb padding-x-20px">vw</text>
                                    <text class="-hover-background-color-eb padding-x-20px">%</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                </box>
                <box class="display-flex flex-direction-column justify-content-space-between line-height-30px">
                    <header>
                        <text class="font-size-13px font-weight-bolder text-transform-uppercase">Margin</text>
                    </header>
                    <row class="flex-1 gap-5px justify-content-space-between padding-y-10px" data-element="wrapper" data-property="marginTop" tabindex="3">
                        <text class="font-weight-bolder">Margin Top</text>
                        <flex class="gap-5px" data-declaration>
                            <input class="border-1px-solid border-color-db border-radius-3px text-align-center width-50px" data-value="number" onchange="tool.box.value(event.target)" type="number" value="50">
                            <field class="position-relative">
                                <row class="align-items-center gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="unit">px</text>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto z-index-5" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-tap="tool.box.unit(event.target)" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">px</text>
                                    <text class="-hover-background-color-eb padding-x-20px">vw</text>
                                    <text class="-hover-background-color-eb padding-x-20px">%</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                    <row class="border-top-1px-solid border-color-ddd flex-1 gap-5px justify-content-space-between padding-y-10px" data-element="wrapper" data-property="marginRight" tabindex="4">
                        <text class="font-weight-bolder">Margin Right</text>
                        <flex class="gap-5px" data-declaration>
                            <input class="border-1px-solid border-color-db border-radius-3px text-align-center width-50px" data-value="number" onchange="tool.box.value(event.target)" type="number" value="50">
                            <field class="position-relative">
                                <row class="align-items-center gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="unit">px</text>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto z-index-5" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-tap="tool.box.unit(event.target)" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">px</text>
                                    <text class="-hover-background-color-eb padding-x-20px">vw</text>
                                    <text class="-hover-background-color-eb padding-x-20px">%</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                    <row class="border-top-1px-solid border-color-ddd flex-1 gap-5px justify-content-space-between padding-y-10px" data-element="wrapper" data-property="marginBottom" tabindex="5">
                        <text class="font-weight-bolder">Margin Bottom</text>
                        <flex class="gap-5px" data-declaration>
                            <input class="border-1px-solid border-color-db border-radius-3px text-align-center width-50px" data-value="number" onchange="tool.box.value(event.target)" type="number" value="50">
                            <field class="position-relative">
                                <row class="align-items-center gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="unit">px</text>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto z-index-5" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-tap="tool.box.unit(event.target)" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">px</text>
                                    <text class="-hover-background-color-eb padding-x-20px">vw</text>
                                    <text class="-hover-background-color-eb padding-x-20px">%</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                    <row class="border-top-1px-solid border-color-ddd flex-1 gap-5px justify-content-space-between padding-y-10px" data-element="wrapper" data-property="marginLeft" tabindex="6">
                        <text class="font-weight-bolder">Margin Left</text>
                        <flex class="gap-5px" data-declaration>
                            <input class="border-1px-solid border-color-db border-radius-3px text-align-center width-50px" data-value="number" onchange="tool.box.value(event.target)" type="number" value="50">
                            <field class="position-relative">
                                <row class="align-items-center gap-5px justify-content-center" data-dropdown data-ignore>
                                    <text data-value="unit">px</text>
                                </row>
                                <column class="-hd-width-100pct- background-color-fff border-radius-10px color-000 line-height-30px margin-auto padding-y-10px position-absolute right-0 white-space-nowrap width-auto z-index-5" data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)" data-display="none" data-hidden="tap" data-tap="tool.box.unit(event.target)" data-top="100%">
                                    <text class="-hover-background-color-eb padding-x-20px">auto</text>
                                    <text class="-hover-background-color-eb padding-x-20px">px</text>
                                    <text class="-hover-background-color-eb padding-x-20px">vw</text>
                                    <text class="-hover-background-color-eb padding-x-20px">%</text>
                                </column>
                            </field>
                        </flex>
                    </row>
                </box>
            </column>
        </card>
    </flex>
</block>
