<blocks>
    <header class="left-0 line-height-50px margin-auto position-fixed right-0 top-0 width-100pct z-index-5">
        <row class="justify-content-space-between">
            <box class="padding-x-10px" data-href="/">
                <row>
                    <ico data-width="25px">
                        <n class="gg-chevron-left"></n>
                    </ico>
                    <text>Exit</text>
                </row>
            </box>
        </row>
    </header>
    <block class="justify-content-center height-100pct">
        <section class="padding-y-50px max-height-100pct-minus-120px">
            <card class="border-radius-10px margin-auto width-300px">
                <column class="border-radius-20px flex-direction-column flex-unset font-size-13px gap-10px margin-x-auto padding-y-10px">
                    <box class="font-size-36px font-weight-bolder text-align-center">
                        <section>
                            <picture>
                                <img src="/icon.svg" width="200px">
                            </picture>
                        </section>
                    </box>
                    <box class="background-color-000 border-radius-5px color-fff" data-tap="github.oauth.login()">
                        <row class="align-items-center color-fff display-flex flex-direction-row justify-content-center">
                            <picture class="background-color-fff border-radius-50pct display-flex height-30px margin-right-10px position-relative width-30px">
                                <img class="position-absolute bottom-0 height-75pct left-0 fit-contain margin-auto right-0 width-75pct" src="raw/asset/svg/github.svg">
                            </picture>
                            <text class="display-flex justify-content-center line-height-50px text-align-center">Login with GitHub</text>
                        </row>
                    </box>
                    <box class="border-bottom-1px-solid">
                        <form class="align-items-center display-flex flex-direction-row justify-content-center">
                            <input class="flex-1" onkeyup placeholder="Enter Access Token" type="text">
                            <ico data-tap="controller.login.token(event.target)">
                                <input type="submit">
                                <n class="gg-chevron-right"></n>
                            </ico>
                        </form>
                    </box>
                </column>
            </card>
        </section>
    </block>
</blocks>
