<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="#021025">
        <meta name="apple-mobile-web-app-title" content>
        <meta name="application-name" content>
        <meta name="application-shortname" content>
        <meta name="msapplication-TileColor" content="#f26c4f">
        <meta name="theme-color" content="#f26c4f">
        <meta content="pk_test_51MhgsvAaZPhy2mUxENR4iqlEWO4RztjDLovcKPKZZxpDeNiw4FgsPX7reUUKJBrzif5NSfTVgjzlF3lH14glPecI00IvwnCWqR" name="stripe_publishable_key">
        <meta name="stripe_user_id" content="acct_1MhgsvAaZPhy2mUx">
        <base>
        <script>
            const base = document.head.querySelector("base");
            if (window.self === window.top) {
                base.href = "/";
                window.boot = window.location.pathname + window.location.search + window.location.hash;
            } else {
                base.href = window.parent.location.protocol + "//" + window.parent.location.host;
                var pathname = window.parent.location.pathname;
                var dir = window.parent.rout.ed.dir(pathname);
                dir.splice(0, 4);
                window.boot = window.parent.rout.ed.url(dir);
            }
        </script>
        <script async="" src="raw/asset/js/github.js"></script>
        <script async="" src="raw/asset/js/mvc.js"></script>
        <script async="" src="raw/asset/js/modal.js"></script>
        <script async="" src="raw/asset/js/on.js"></script>
        <script async="" src="raw/asset/js/router.js"></script>
        <script async="" src="raw/asset/js/touch.js"></script>
        <script async="" src="raw/asset/js/vanilla.js"></script>
        <script async="" src="raw/style/framework.js"></script>
        <script defer="" src="index.js"></script>
        <link href="index.css" rel="stylesheet">
        <link href="raw/style/theme.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/css.gg/icons/all.css" rel="stylesheet">
    </head>
    <body oncontextmenu="return true;">
        <boot id="boot"></boot>
        <header></header>
        <empty class="align-items-center display-flex flex-direction-column gap-5px justify-content-center text-align-center top-0 width-100pct z-index-5">
            <column class="gap-5px padding-30px">
                <text class="display-block font-weight-bolder">Add Site Header</text>
                <text class="background-color-777 border-radius-5px color-fff display-block font-size-13px margin-auto padding-5px text-transform-uppercase width-100px">Add Block</text>
            </column>
        </empty>
        <template>
            <insertable class="align-items-center display-flex flex-direction-column gap-5px justify-content-center text-align-center top-0 width-100pct z-index-5">
                <column class="gap-5px padding-30px">
                    <text class="display-block font-weight-bolder">Add New Section</text>
                    <text class="background-color-777 border-radius-5px color-fff display-block font-size-13px margin-auto padding-5px text-transform-uppercase width-100px">Add Block</text>
                </column>
            </insertable>
        </template>
        <main>
            <template>
                <empty class="align-items-center background-color-f5 display-flex flex-direction-column gap-5px justify-content-center min-height-586px padding-30px text-align-center">
                    <column class="gap-5px padding-30px">
                        <text class="display-block font-weight-bolder">Add Page Content</text>
                        <text class="background-color-777 border-radius-5px color-fff display-block font-size-13px margin-auto padding-5px text-transform-uppercase width-100px" data-tap="framework.builder.blocks(event.target)">Add Block</text>
                    </column>
                </empty>
            </template>
        </main>
        <footer></footer>
        <empty class="align-items-center display-flex flex-direction-column gap-5px justify-content-center padding-30px text-align-center">
            <column class="gap-5px padding-30px">
                <text class="display-block font-weight-bolder">Add Site Footer</text>
                <text class="background-color-777 border-radius-5px color-fff display-block font-size-13px margin-auto padding-5px text-transform-uppercase width-100px">Add Block</text>
            </column>
        </empty>
    </body>
</html>
