<template id="template-setup-complete">
    <block class="align-center height-100pct justify-content-center min-height-100vh width-100pct" data-background-color="rgba(0,0,0,0.5)">
        <form onsubmit="on.submit.create(event)">
            <card class="background-color-fff border-radius-10px margin-auto overflow-hidden text-align-center width-300px" data-max-width="calc(100% - 40px)">
                <column>
                    <box>
                        <section>
                            <picture class="background-color-000 border-radius-50pct height-50px margin-25px-auto width-50px"></picture>
                            <input class="display-none" type="submit">
                        </section>
                    </box>
                    <box class="padding-20px">
                        <column>
                            <text class="font-size-24px font-weight-bolder">All Done!</text>
                            <text>Your app has been created.</text>
                        </column>
                    </box>
                    <box class="padding-20px">
                        <column>
                            <text>Continue editing your project in the Dashboard. Be Creative!</text>
                        </column>
                    </box>
                    <box class="background-color-bbb color-fff margin-top-20px padding-20px">
                        <column>
                            <text>Open Dashboard</text>
                            <input type="submit">
                        </column>
                    </box>
                </column>
            </card>
        </form>
    </block>
</template>
