/*PSEUDO*/
@media screen {
    [data-after]:after {
        content: attr(data-after);
    }

    [data-before]:before {
        content: attr(data-before);
    }

    body:not([data-uid]) .-isauth, body[data-uid] .-noauth {
        display: none;
    }

    :focus {
        outline: none;
    }
}

/*SHELL*/
@media screen {
    html {
        height: 100%;
        width: 100%;
    }

    body {
        background-color: #fff;
        font-family: Arial;
        /* height: 100%; */
        margin: 0;
        width: 100%;
    }

    @media (prefers-color-scheme: dark) {
        body[data-theme="system"] {
        }
    }

    body > header, body > footer {
        display: flex;
        display: webkit-flex;
    }

    body > header > section, body > footer > section {
        width: 100%;
    }

    a {
        text-decoration: none;
    }

    blocks {
        width: 100%;
    }

    blocks, block, box, card {
        display: flex;
        display: webkit-flex;
        flex-direction: column;
        position: relative;
    }

    block > section, card > section, box > section {
        width: 100%;
    }

    header > picture, nav > picture, footer > picture, block > picture, card > picture, box > picture {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }

    block > figure, card > figure, box > figure {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }

    box > * > picture {
        display: flex;
        display: -webkit-flex;
    }

    button {
        appearance: none;
        background: transparent;
        border: none;
        line-height: 50px;
    }

    flex, column, row {
        display: flex;
        display: webkit-flex;
    }

    block > footer, card > footer, box > footer {
        display: flex;
        display: webkit-flex;
    }

    column {
        flex-direction: column;
    }

    row {
        flex-direction: row;
    }

    form {
        margin: 0;
    }

    form > * {
        /* width: 100%; */
    }

    main {
        display: flex;
        display: webkit-flex;
        width: 100%;
        /* overflow: visible; */
        position: relative;
        min-height: 100%;
        /* background: #bbb; */
        /* overflow-x: hidden; */
    }

    nav {
        display: flex;
        display: webkit-flex;
        flex-direction: column;
    }

    ico {
        align-items: center;
        display: inline-flex;
        display: webkit-inline-flex;
        justify-content: center;
    }

    ico:not([data-height]) {
        height: 50px;
    }

    ico:not([data-width]) {
        width: 50px;
    }

    img:not([src]) {
        display: none;
    }

    iframe {
        border: 0;
    }

    input {
        /* -webkit-appearance: none; */
    }

    input:focus {
        outline: none;
    }

    [type="text"], [type="password"] {
        background: none;
        border: unset;
        padding: 0;
    }

    input[type="file"], input[type="submit"] {
        display: none;
    }

    menu {
        margin: 0;
        padding: 0;
    }

    page, pages {
        display: flex;
        position: relative;
        flex-direction: column;
    }

    textarea {
        -webkit-appearance: none;
        border: unset;
        resize: none;
        font-family: Arial;
    }

    textarea:focus {
        outline: none;
    }

    body > aside {
        position: absolute;
        width: 100%;
        height: 100%;
        /* background: white; */
    }

    body > aside ~ * {
        position: fixed;
    }

    body > page, body > pages {
        z-index: 123456789;
    }

    [placeholder]:not(input):empty:before {
        content: attr(placeholder);
        opacity: 0.5;
    }

    [data-hide]:not([data-active="true"]), [data-page]:not([data-active="true"]):not(.-active), [data-pages]:not([data-active="true"]):not(.-active) {
        display: none;
    }

    .empty:empty {
        display: none;
    }

    :not(:empty) + .empty-state, :not(:empty) + .empty-state-adjacent {
        display: none;
    }

    :not(:empty):first-child ~ .empty-state-subsequent {
        display: none;
    }

    :empty + .full-state, :empty + .full-state-adjacent {
        display: none;
    }

    :empty:first ~ .full-state-subsequent {
        display: none;
    }
}

/*PEEL*/
peel {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 123456;
    bottom: 0;
    left: 0;
    background: linear-gradient( 45deg, #fff, #f3f3f3 45%, #ddd 50%, #aaa 50%, #bbb 56%, #ccc 62%, #f3f3f3 80%, #fff 100% );
    box-shadow : 0 0 10px rgba(0, 0, 0, .5);
    transition: all .5s ease;
}

peel:hover {
    width: 240px;
    height: 240px;
}

/*SCROLLBAR*/
.scrollbar-1::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

.scrollbar-1::-webkit-scrollbar-thumb {
    display: none;
}

.scrollbar-1:hover::-webkit-scrollbar-thumb {
    display: block;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
    opacity: 0.5;
}
