/*PSEUDO*/
@media screen {
    [data-after]:after {
        content: attr(data-after);
    }

    [data-before]:before {
        content: attr(data-before);
    }

    body:not([data-uid]) .-isauth, body[data-uid] .-noauth {
        display: none;
    }

    :focus {
        outline: none;
    }
}

/*SHELL*/
@media screen {
    html {
        height: 100%;
        width: 100%;
    }

    body {
        background-color: #fff;
        font-family: Arial;
        height: 100%;
        margin: 0;
        width: 100%;
    }

    @media (prefers-color-scheme: dark) {
        body[data-theme="system"] {
        }
    }

    body > header, body > footer {
        display: flex;
        display: -webkit-flex;
    }

    body > header > section, body > footer > section {
        width: 100%;
    }

    a {
        text-decoration: none;
    }

    blocks {
        /* min-height: 100%; */
        width: 100%;
        display: block;
    }

    block, box, card {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        position: relative;
    }

    block > section, card > section, box > section {
        width: 100%;
    }

    block > section, card > section, box > section {
        position: relative;
    }

    header > picture, nav > picture, footer > picture, block > picture, card > picture, box > picture {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }

    block > picture ~ *, card > picture ~ *, box > picture ~ * {
        position: relative;
        z-index: 1;
    }

    block > figure, card > figure, box > figure {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }

    box > * > picture {
        display: flex;
        display: -webkit-flex;
    }

    blockquote {
        border-left: 2px solid #5E35B1;
        color: #5E35B1;
        font-size: 20px;
        margin: 40px 20px;
        margin-left: 0;
        padding-left: 5px;
    }

    blockquote {
    }

    blockquote blockquote {
        border-color: #00BCD4;
        color: #00BCD4;
    }

    blockquote blockquote blockquote {
        border-color: #43A047;
        color: #43A047;
    }

    button {
        appearance: none;
        background: transparent;
        border: none;
        line-height: 50px;
    }

    flex, column, row {
        display: flex;
        display: -webkit-flex;
    }

    block > footer, card > footer, box > footer {
        display: flex;
        display: -webkit-flex;
    }

    column {
        flex-direction: column;
    }

    dropdown {
        /* position: relative; */
        display: flex;
        display: -webkit-flex;
    }

    row {
        flex-direction: row;
    }

    figure {
        margin: unset;
    }

    form {
        margin: 0;
    }

    form > * {
        /* width: 100%; */
    }

    line {
        display: flex;
    }

    main {
        /* display: flex; */
        /* display: -webkit-flex; */
        display: inherit;
        width: 100%;
        /* height: 100%; */
        /* overflow: visible; */
        position: relative;
        /* min-height: 100%; */
        /* background: #bbb; */
        /* overflow-x: hidden; */
    }

    nav {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
    }

    picture > img {
        width: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        oveflow-wrap: break-word;
    }

    ico {
        align-items: center;
        display: inline-flex;
        display: webkit-inline-flex;
        justify-content: center;
    }

    ico:not([data-height]) {
        height: 50px;
    }

    ico:not([data-width]) {
        width: 50px;
    }

    img:not([src]) {
        display: none;
    }

    iframe {
        border: 0;
    }

    input {
        border: 0;
        -webkit-appearance: none;
    }

    input:focus {
        outline: none;
    }

    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input::placeholder {
        color: #8e8e8e;
        font-size: 16px;
        font-family: Arial;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    [type="text"], [type="password"] {
        background: none;
        border: unset;
        padding: 0;
    }

    input[type="file"], input[type="submit"] {
        display: none;
    }

    menu {
        margin: 0;
        padding: 0;
    }

    ol, ul, dl {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 1rem;
        margin-top: 0;
    }

    page, pages {
        display: inherit;
        position: relative;
    }

    pre {
        margin-top: 0;
        margin-bottom: 1rem;
        overflow: auto;
        -ms-overflow-style: scrollbar;
    }

    textarea {
        -webkit-appearance: none;
        border: unset;
        resize: none;
        font-family: Arial;
        padding: 0;
    }

    textarea:focus {
        outline: none;
    }

    body > aside {
        position: absolute;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        /* background: white; */
    }

    body > aside ~ * {
        /* position: fixed; */
    }

    body > page, body > pages {
        z-index: 123456789;
    }

    wave {
        width: 100%;
    }

    [placeholder]:not(input):empty:before {
        content: attr(placeholder);
        opacity: 0.5;
    }

    [data-hide]:not([data-active="true"]), [data-page]:not([data-active="true"]):not(.-active), [data-pages]:not([data-active="true"]):not(.-active) {
        display: none;
    }
}
