/*FOCUS*/
body > footer, body > header, body > nav {
    position: relative;
}

body block, body card, body card box {
    position: relative;
}

body > header > *, body > header card > *, body > header box > * {
    z-index: 12;
}

body > header > picture, body > header > card > picture, body > header > card > box > picture {
    z-index: 0;
}

body > header > video, body > header > card > picture, body > header > card > box > picture {
    z-index: 0;
}

body > header > * ~ *, body > header card > * ~ *, body > header card box > * ~ * {
    z-index: 12;
}

body > footer > *, body > footer card > *, body > footer box > * {
    z-index: 12;
}

body > footer > picture, body > footer > card > picture, body > footer > card > box > picture {
    z-index: 0;
}

body > footer > video, body > footer > card > picture, body > footer > card > box > picture {
    z-index: 0;
}

body > footer > * ~ *, body > footer card > * ~ *, body > footer card box > * ~ * {
    z-index: 12;
}

body block > * {
    z-index: 1;
}

body card > * {
    z-index: 1;
}
body card box > * {
    z-index: 1;
}

body block > picture, body card > picture, body card box > picture {
    z-index: 0;
}

body block > video, body card > video, body card box > video {
    z-index: 0;
}

body block > * ~ *, body card > * ~ *, body card box > * ~ * {
    z-index: 12;
}

body > header:hover, body block:hover, body > footer:hover {
    outline: 4px solid #ff3b30;
    outline-offset: 0px;
    box-sizing: border-box;
}

body > footer card:hover, body > header card:hover, body card:hover {
    outline: 4px solid #32cd32;
    outline-offset: 0px;
    /* box-sizing: border-box; */
}

body > footer card box:hover, body > header card box:hover, body card box:hover {
    outline: 4px solid #52b9d6;
    outline-offset: 0px;
    box-sizing: border-box;
}
