<row class="align-items-center justify-content-space-between">
    <card>
        <section>
            <box data-href="/">
                <row>
                    <ico>
                        <n class="gg-home"></n>
                    </ico>
                </row>
            </box>
        </section>
    </card>
    <card>
        <row>
            <box data-href="/dashboard/">
                <row>
                    <ico data-width="20px">
                        <n class="gg-chart"></n>
                    </ico>
                    <text class="-vga-display-none font-weight-bolder margin-left-10px">Dashboard</text>
                </row>
            </box>
            <box class="margin-x-20px" data-href="/organizations/">
                <row>
                    <ico data-width="20px">
                        <n class="gg-globe-alt"></n>
                    </ico>
                    <text class="-vga-display-none font-weight-bolder margin-left-10px">Organizations</text>
                </row>
            </box>
            <box data-href="/marketplace/">
                <row>
                    <ico data-width="20px">
                        <n class="gg-shopping-cart"></n>
                    </ico>
                    <text class="-vga-display-none font-weight-bolder margin-left-10px">Marketplace</text>
                </row>
            </box>
        </row>
    </card>
    <card>
        <section>
            <box data-href="/dashboard/">
                <row>
                    <ico>
                        <n class="gg-more-vertical-alt"></n>
                    </ico>
                </row>
                <row class="display-none">
                    <ico class="-noauth">
                        <n class="gg-user"></n>
                    </ico>
                    <ico class="-isauth">
                        <n class="gg-log-off"></n>
                    </ico>
                </row>
            </box>
        </section>
    </card>
</row>
