<page class="-isauth backdrop-blur-10px flex-grow-1 min-height-100pct position-fixed width-100pct" data-background-color="rgba(0,0,0,0.5)" data-fetch="raw/html/page/page.dashboard.blog.pages.page.html" data-page="/dashboard/*/pages/page/"></page>
<page class="-isauth background-color-bbb flex-grow-1 min-height-100pct position-fixed width-100pct" data-fetch="raw/html/page/page.create.html" data-page="/create/"></page>
<!--<page class="-isauth background-color-fff display-none flex-grow-1 height-100pct position-fixed width-100pct" data-fetch="raw/html/page/page.setup.html" data-pages="/dashboard/*/" data-root="/dashboard/*/"></page>-->
<page class="flex-grow-1 position-fixed top-0 width-100pct" data-fetch="raw/html/page/page.dashboard.blog.files.file.html" data-page="/dashboard/*/files/file/"></page>
<page class="flex-grow-1 position-fixed top-0 width-100pct" data-fetch="raw/html/page/page.dashboard.blog.files.file.name.html" data-page="/dashboard/*/files/file/*/"></page>
<main>
    <page class="flex-1" data-fetch="raw/html/page/page.index.html" data-page="/"></page>
    <page class="flex-1 width-100pct" data-fetch="raw/html/page/page.user.blog.html" data-page="/*/*/"></page>
    <pages class="background-color-e2dcd8 flex-grow-1 overflow-hidden" data-pages="/dashboard/">
        <page class="-isauth background-color-f5 flex-grow-1 height-100pct min-height-100pct overflow-x-hidden position-fixed width-100pct" data-fetch="raw/html/page/page.dashboard.html" data-page="/dashboard/"></page>
        <pages class="-isauth flex-grow-1 height-100pct overflow-hidden" data-pages="/dashboard/*/" data-transition="0.3s">
            <nav class="-isauth background-color-e2dcd8 color-000 font-size-14px height-100pct overflow-x-hidden position-fixed scrollbar-1 width-240px z-index-5" data-960px-transform="translateX(-100%)" data-fetch="/raw/html/template/template.dashboard.nav.html" data-pages="/dashboard/*/" data-transition="0.3s"></nav>
            <pages class="flex-grow-1 margin-left-240px" data-960px-margin-left="0" data-pages="/dashboard/*/" data-transition="0.3s">
                <page class="flex-grow-1" data-fetch="raw/html/page/page.dashboard.blog.html" data-page="/dashboard/*/"></page>
                <pages class="flex-grow-1" data-pages="/dashboard/*/build/">
                    <page class="flex-grow-1" data-fetch="raw/html/page/page.dashboard.blog.build.html" data-page="/dashboard/*/build/"></page>
                    <page class="flex-grow-1" data-fetch="raw/html/page/page.dashboard.blog.config.html" data-page="/dashboard/*/build/config/"></page>
                    <page class="flex-grow-1" data-fetch="raw/html/page/page.dashboard.blog.domain.html" data-page="/dashboard/*/build/domain/"></page>
                    <pages class="background-color-ccc border-top-left-radius-10px border-top-right-radius-10px bottom-0 box-shadow-0-1px-6px-0 flex-1 margin-x-10px margin-top-10px overflow-hidden position-fixed right-0" data-960px-width="calc(100% - 20px)" data-fetch="raw/html/page/pages.dashboard.blog.build.html" data-height="calc(100% - 10px)" data-pages="/dashboard/*/build/" data-transform="translateY(100%)" data-transition="0.3s" data-width="calc(100% - 260px)"></pages>
                </pages>
                <pages class="flex-grow-1" data-pages="/dashboard/*/files/">
                    <pages class="flex-grow-1" data-fetch="raw/html/page/page.dashboard.blog.files.html" data-pages="/dashboard/*/files/" data-root="/dashboard/*/files/"></pages>
                    <!--<page class="flex-grow-1" data-fetch="raw/html/page/page.dashboard.blog.files.file.html" data-page="/dashboard/*/files/file/"></page>-->
                </pages>
                <pages class="flex-grow-1" data-pages="/dashboard/*/media/">
                    <page class="flex-grow-1" data-fetch="raw/html/page/page.dashboard.blog.media.html" data-page="/dashboard/*/media/"></page>
                    <page class="flex-grow-1" data-fetch="raw/html/page/page.dashboard.blog.media.audio.html" data-page="/dashboard/*/media/audio/"></page>
                    <page class="flex-grow-1" data-fetch="raw/html/page/page.dashboard.blog.media.photo.html" data-page="/dashboard/*/media/photo/"></page>
                    <page class="flex-grow-1" data-fetch="raw/html/page/page.dashboard.blog.media.video.html" data-page="/dashboard/*/media/video/"></page>
                </pages>
                <pages class="flex-grow-1" data-pages="/dashboard/*/merch/">
                    <page class="flex-grow-1" data-fetch="raw/html/page/page.dashboard.blog.merch.html" data-page="/dashboard/*/merch/"></page>
                    <page class="flex-grow-1" data-fetch="raw/html/page/page.dashboard.blog.merch.inventory.html" data-page="/dashboard/*/merch/inventory/"></page>
                </pages>
                <pages class="flex-grow-1" data-pages="/dashboard/*/pages/">
                    <page class="flex-grow-1" data-fetch="raw/html/page/page.dashboard.blog.pages.html" data-page="/dashboard/*/pages/"></page>
                    <!--<page class="flex-grow-1" data-fetch="raw/html/page/page.dashboard.blog.pages.page.html" data-page="/dashboard/*/pages/page/"></page>-->
                </pages>
                <pages class="flex-grow-1" data-pages="/dashboard/*/posts/">
                    <page class="flex-grow-1" data-fetch="raw/html/page/page.dashboard.blog.posts.html" data-page="/dashboard/*/posts/"></page>
                    <pages class="flex-grow-1" data-fetch="raw/html/page/page.dashboard.blog.posts.post.html" data-pages="/dashboard/*/posts/post/" data-root="/dashboard/*/posts/post/"></pages>
                </pages>
                <pages class="flex-grow-1" data-pages="/dashboard/*/style/">
                    <page class="flex-grow-1" data-fetch="raw/html/page/page.dashboard.blog.theme.html" data-page="/dashboard/*/style/"></page>
                    <!--<page class="flex-grow-1" data-fetch="raw/html/page/page.dashboard.blog.style.import.html" data-page="/dashboard/*/style/import/"></page>-->
                </pages>
            </pages>
        </pages>
    </pages>
    <pages class="flex-grow-1 width-100pct" data-pages="/design/">
        <page class="flex-grow-1" data-fetch="raw/html/page/page.design.html" data-page="/design/"></page>
        <page class="flex-grow-1" data-fetch="raw/html/page/page.design.template.html" data-page="/design/*/"></page>
        <page class="flex-grow-1" data-fetch="raw/html/page/page.design.template.install.html" data-page="/design/*/install/"></page>
        <page class="flex-grow-1" data-fetch="raw/html/page/page.design.template.preview.html" data-page="/design/*/preview/"></page>
    </pages>
    <pages class="flex-grow-1 width-100pct" data-pages="/directory/">
        <page class="flex-grow-1" data-fetch="raw/html/page/page.directory.html" data-page="/directory/"></page>
        <pages class="flex-grow-1" data-fetch="raw/html/page/page.directory.website.html" data-pages="/directory/*/"></pages>
    </pages>
    <pages class="flex-grow-1 width-100pct" data-pages="/marketplace/">
        <page class="flex-grow-1" data-fetch="raw/html/page/page.directory.html" data-page="/marketplace/"></page>
        <pages class="flex-grow-1" data-fetch="raw/html/page/page.directory.website.html" data-pages="/marketplace/*/"></pages>
    </pages>
    <pages class="flex-grow-1 width-100pct" data-pages="/new/">
        <page class="flex-grow-1" data-fetch="raw/html/page/page.new.html" data-page="/new/"></page>
        <page class="flex-grow-1" data-fetch="raw/html/page/page.new.app.html" data-page="/new/app/"></page>
        <page class="flex-grow-1" data-fetch="raw/html/page/page.new.idea.html" data-pages="/new/idea/"></page>
        <page class="flex-grow-1" data-fetch="raw/html/page/page.new.import.html" data-page="/new/import/"></page>
    </pages>
    <pages class="-noauth flex-grow-1 min-height-100pct position-fixed width-100pct" data-fetch="raw/html/page/page.login.html" data-pages="/dashboard/" data-root="/dashboard/">
        <blocks class="min-height-100vh">
            <header class="left-0 line-height-50px margin-auto position-fixed right-0 top-0 width-100pct z-index-5">
                <row class="justify-content-space-between">
                    <box class="padding-x-10px" data-href="/">
                        <row>
                            <ico data-width="25px">
                                <n class="gg-chevron-left"></n>
                            </ico>
                            <text>Exit</text>
                        </row>
                    </box>
                </row>
            </header>
            <block class="justify-content-center height-100pct">
                <section class="padding-y-50px max-height-100pct-minus-120px">
                    <card class="border-radius-10px margin-auto width-300px">
                        <column class="border-radius-20px flex-direction-column flex-unset font-size-13px margin-x-auto padding-y-10px">
                            <box class="font-size-36px font-weight-bolder margin-y-20px text-align-center">
                                <section>
                                    <picture>
                                        <img src="/icon.svg" width="200px">
                                    </picture>
                                </section>
                            </box>
                            <box class="background-color-000 border-radius-5px color-fff width-200px" data-tap="github.oauth.login()">
                                <row class="align-items-center color-fff display-flex flex-direction-row justify-content-center">
                                    <picture class="background-color-fff border-radius-50pct display-flex height-30px margin-right-10px position-relative width-30px">
                                        <img class="position-absolute bottom-0 height-75pct left-0 fit-contain margin-auto right-0 width-75pct" src="raw/svg/github.svg">
                                    </picture>
                                    <text class="display-flex justify-content-center line-height-50px text-align-center">Login with GitHub</text>
                                </row>
                            </box>
                        </column>
                    </card>
                </section>
            </block>
        </blocks>
    </pages>
</main>
