<column class="min-height-100pct">
    <card class="margin-bottom-20px margin-top-20px">
        <row class="justify-content-space-between">
            <box class="flex-1" data-href="/dashboard/:get/">
                <row>
                    <ico class="border-radius-15pct margin-10px" data-height="30px" data-width="30px">
                        <img>
                    </ico>
                    <text class="font-weight-bolder" placeholder="Project Name"></text>
                </row>
            </box>
            <box data-href="/dashboard/">
                <row>
                    <ico class="margin-left-auto">
                        <n class="gg-menu-grid-r"></n>
                    </ico>
                </row>
            </box>
        </row>
    </card>
    <card class="margin-y-20px">
        <row class="justify-content-space-between">
            <box class="flex-1" data-href="/dashboard/:get/build/">
                <row>
                    <ico>
                        <n class="gg-browser"></n>
                    </ico>
                    <text>Build</text>
                </row>
            </box>
            <box>
                <row>
                    <ico>
                        <n class="gg-chevron-down"></n>
                    </ico>
                </row>
            </box>
        </row>
        <column>
            <box>
                <row>
                    <ico>
                        <n class="gg-options"></n>
                    </ico>
                    <text>Config</text>
                    <ico class="margin-left-auto">
                        <n class="gg-chevron-right"></n>
                    </ico>
                </row>
            </box>
            <box>
                <row>
                    <ico>
                        <n class="gg-chart"></n>
                    </ico>
                    <text>Overview</text>
                    <ico class="margin-left-auto">
                        <n class="gg-chevron-right"></n>
                    </ico>
                </row>
            </box>
            <box>
                <row>
                    <ico>
                        <n class="gg-eye"></n>
                    </ico>
                    <text>Preview</text>
                    <ico class="margin-left-auto">
                        <n class="gg-chevron-right"></n>
                    </ico>
                </row>
            </box>
        </column>
    </card>
    <card class="margin-y-20px">
        <row class="justify-content-space-between">
            <box class="flex-1" data-href="/dashboard/:get/files/">
                <row>
                    <ico>
                        <n class="gg-folder"></n>
                    </ico>
                    <text>Files</text>
                </row>
            </box>
            <box data-href="/dashboard/:get/">
                <row>
                    <ico>
                        <n class="gg-chevron-down"></n>
                    </ico>
                </row>
            </box>
        </row>
        <column>
            <box>
                <row>
                    <ico>
                        <n class="gg-software-upload"></n>
                    </ico>
                    <text>Upload</text>
                    <ico class="margin-left-auto">
                        <n class="gg-chevron-right"></n>
                    </ico>
                </row>
            </box>
            <box>
                <row>
                    <ico>
                        <n class="gg-drive"></n>
                    </ico>
                    <text>Quota</text>
                    <ico class="margin-left-auto">
                        <n class="gg-chevron-right"></n>
                    </ico>
                </row>
            </box>
        </column>
    </card>
    <card class="margin-y-20px">
        <row class="justify-content-space-between">
            <box class="flex-1" data-href="/dashboard/:get/media/">
                <row>
                    <ico>
                        <n class="gg-cloud"></n>
                    </ico>
                    <text>Media</text>
                </row>
            </box>
            <box data-href="/dashboard/:get/media/">
                <row>
                    <ico>
                        <n class="gg-chevron-down"></n>
                    </ico>
                </row>
            </box>
        </row>
        <column>
            <box>
                <row>
                    <ico>
                        <n class="gg-music"></n>
                    </ico>
                    <text>Audio</text>
                    <ico class="margin-left-auto">
                        <n class="gg-chevron-right"></n>
                    </ico>
                </row>
            </box>
            <box>
                <row>
                    <ico>
                        <n class="gg-image"></n>
                    </ico>
                    <text>Photo</text>
                    <ico class="margin-left-auto">
                        <n class="gg-chevron-right"></n>
                    </ico>
                </row>
            </box>
            <box>
                <row>
                    <ico>
                        <n class="gg-film"></n>
                    </ico>
                    <text>Video</text>
                    <ico class="margin-left-auto">
                        <n class="gg-chevron-right"></n>
                    </ico>
                </row>
            </box>
        </column>
    </card>
    <card class="margin-y-20px">
        <row class="justify-content-space-between">
            <box class="flex-1" data-href="/dashboard/:get/merch/">
                <row>
                    <ico>
                        <n class="gg-shopping-bag"></n>
                    </ico>
                    <text>Merch</text>
                </row>
            </box>
            <box data-href="/dashboard/:get/merch/create/">
                <row>
                    <ico>
                        <n class="gg-chevron-down"></n>
                    </ico>
                </row>
            </box>
        </row>
        <column>
            <box>
                <row>
                    <ico>
                        <n class="gg-tag"></n>
                    </ico>
                    <text>Inventory</text>
                    <ico class="margin-left-auto">
                        <n class="gg-chevron-right"></n>
                    </ico>
                </row>
            </box>
        </column>
    </card>
    <card class="margin-y-20px">
        <row class="justify-content-space-between">
            <box class="flex-1" data-href="/dashboard/:get/pages/">
                <row>
                    <ico>
                        <n class="gg-file-document"></n>
                    </ico>
                    <text>Pages</text>
                </row>
            </box>
            <box data-href="/dashboard/:get/">
                <row>
                    <ico>
                        <n class="gg-chevron-down"></n>
                    </ico>
                </row>
            </box>
        </row>
        <column>
            <box>
                <row>
                    <ico>
                        <n class="gg-pen"></n>
                    </ico>
                    <text>Create</text>
                    <ico class="margin-left-auto">
                        <n class="gg-chevron-right"></n>
                    </ico>
                </row>
            </box>
        </column>
    </card>
    <card class="margin-y-20px">
        <row class="justify-content-space-between">
            <box class="flex-1" data-href="/dashboard/:get/posts/">
                <row>
                    <ico>
                        <n class="gg-file"></n>
                    </ico>
                    <text>Posts</text>
                </row>
            </box>
            <box data-href="/dashboard/:get/">
                <row>
                    <ico>
                        <n class="gg-chevron-down"></n>
                    </ico>
                </row>
            </box>
        </row>
        <column>
            <box>
                <row>
                    <ico>
                        <n class="gg-file-add"></n>
                    </ico>
                    <text>Post</text>
                    <ico class="margin-left-auto">
                        <n class="gg-chevron-right"></n>
                    </ico>
                </row>
            </box>
        </column>
    </card>
    <card class="margin-y-20px">
        <row class="justify-content-space-between">
            <box class="flex-1" data-href="/dashboard/:get/style/">
                <row>
                    <ico>
                        <n class="gg-template"></n>
                    </ico>
                    <text>Style</text>
                </row>
            </box>
            <box data-href="/dashboard/:get/">
                <row>
                    <ico>
                        <n class="gg-chevron-down"></n>
                    </ico>
                </row>
            </box>
        </row>
        <column>
            <box>
                <row>
                    <ico>
                        <n class="gg-search"></n>
                    </ico>
                    <text>Designs</text>
                    <ico class="margin-left-auto">
                        <n class="gg-chevron-right"></n>
                    </ico>
                </row>
            </box>
        </column>
    </card>
    <card class="display-none margin-bottom-20px margin-top-auto">
        <column>
            <box class="border-2px-solid box-sizing-border-box" data-tap="controller.dashboard.preview(event.target)">
                <row class="justify-content-center">
                    <text>Preview your changes</text>
                </row>
            </box>
            <box class="background-color-333 margin-top-20px">
                <row class="justify-content-center">
                    <text>Export Project</text>
                </row>
            </box>
        </column>
    </card>
    <card class="margin-bottom-20px margin-top-auto margin-y-20px">
        <row class="justify-content-space-between">
            <box data-href="/dashboard/">
                <row>
                    <ico class="background-color-000 border-radius-50pct margin-10px" data-height="30px" data-width="30px">
                        <n placeholder="?"></n>
                    </ico>
                    <text class="font-weight-bolder" placeholder="username"></text>
                </row>
            </box>
            <box data-href="/dashboard/">
                <row>
                    <ico class="margin-left-auto">
                        <n class="gg-chevron-right"></n>
                    </ico>
                </row>
            </box>
        </row>
    </card>
</column>
