<row class="align-items-center justify-content-space-between">
    <card>
        <section>
            <box data-href="/">
                <row>
                    <ico>
                        <n class="gg-menu"></n>
                    </ico>
                </row>
            </box>
        </section>
    </card>
    <card class="font-size-13px text-transform-uppercase">
        <row>
            <box data-href="/dashboard/">
                <row>
                    <ico data-width="20px">
                        <n class="gg-chart"></n>
                    </ico>
                    <text class="-vga-display-none font-weight-bolder margin-left-10px">Dashboard</text>
                </row>
            </box>
            <box class="margin-x-20px" data-href="/design/">
                <row>
                    <ico data-width="20px">
                        <n class="gg-template"></n>
                    </ico>
                    <text class="-vga-display-none font-weight-bolder margin-left-10px">Design</text>
                    <ico class="-vga-display-none margin-left-5px" data-width="20px">
                        <n class="gg-chevron-down"></n>
                    </ico>
                </row>
            </box>
            <box data-href="/developer/">
                <row>
                    <ico data-width="20px">
                        <n class="gg-info"></n>
                    </ico>
                    <text class="-vga-display-none font-weight-bolder margin-left-10px">Developer</text>
                </row>
            </box>
        </row>
    </card>
    <card>
        <section>
            <box data-href="/dashboard/">
                <row class="display-none">
                    <ico>
                        <n class="gg-more-vertical-alt"></n>
                    </ico>
                </row>
                <row class="display-block">
                    <ico class="-noauth">
                        <n class="gg-user"></n>
                    </ico>
                    <ico class="-isauth">
                        <n class="gg-log-off"></n>
                    </ico>
                </row>
            </box>
        </section>
    </card>
</row>
