<block class="height-100pct justify-content-center min-height-120px width-100pct" data-background-color="rgba(0,0,0,0.5)" data-backdrop-filter="blur(10px)">
    <picture data-tap="modal.exit(event.target)"></picture>
    <section>
        <card class="background-color-fff border-radius-10px margin-auto width-240px">
            <section>
                <box>
                    <section>
                        <text></text>
                    </section>
                </box>
                <box>
                    <section>
                        <text></text>
                    </section>
                </box>
                <box>
                    <section>
                        <text></text>
                    </section>
                </box>
            </section>
            <footer>
                <box>
                    <section>
                        <text>Open in Editor</text>
                    </section>
                </box>
            </footer>
        </card>
    </section>
</block>
