<block class="height-100pct justify-content-center width-100pct" data-background-color="rgba(0,0,0,0.5)" data-backdrop-filter="blur(10px)">
    <picture data-tap="modal.exit(event.target)"></picture>
    <section>
        <card class="background-color-fff border-radius-10px margin-auto width-240px">
            <column>
                <box class="padding-20px">
                    <column>
                        <text class="font-size-16px font-weight-bolder line-height-30px text-align-center">Install Template</text>
                        <text class="font-size-13px min-height-180px" placeholder="Are you sure you want to do this?"></text>
                    </column>
                </box>
                <box class="border-color-ddd border-top-1px-solid color-0096c7 line-height-50px">
                    <row>
                        <text class="flex-1 font-weight-bolder opacity-1 text-align-center" placeholder="No">Cancel</text>
                        <line class="background-color-ddd height-50px width-1px"></line>
                        <text class="flex-1 opacity-1 text-align-center" placeholder="Yes">Continue</text>
                    </row>
                </box>
            </column>
        </card>
    </section>
</block>
