@media {
    .align-items-center {
        align-items: center;
    }
}

@media {
    .display-flex {
        display: flex;
    }
}

@media {
    .flex-grow-1 {
        flex-grow: 1;
    }
}

@media {
    .font-family-times-new-roman {
        font-family: Times New Roman;
    }
}

@media {
    .font-size-72px {
        font-size: 72px;
    }
}

@media {
    .height-100pct {
        height: 100%;
    }
}

@media {
    .justify-content-center {
        justify-content: center;
    }
}

@media {
    .line-height-50px {
        line-height: 50px;
    }
}

@media {
    .margin-left-auto {
        margin-left: auto;
    }
    
    .margin-y-10px {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@media {
    .max-width-100pct {
        max-width: 100%;
    }

    .max-width-1280px {
        max-width: 1280px;
    }
}

@media {
    .min-height-480px {
        min-height: 480px;
    }
}

@media {
    .padding-x-20px {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media {
    .position-fixed {
        position: fixed;
    }
}

@media {
    .text-align-center {
        text-align: center;
    }
}

@media {
    .text-transform-uppercase {
        text-transform: uppercase;
    }
}

@media {
    .width-50pct {
        width: 50%;    
    }
    
    .width-100pct {
        width: 100%;
    }
    
    .width-1280px {
        width: 1280px;
    }
}

@media {
    .z-index-5 {
        z-index: 5;
    }
}